
// стили для iscroll
// body
//     overflow: hidden
// #scroller
//   position: relative
//   z-index: 1
//   width: 100%
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
//   -webkit-transform: translateZ(0)
//   -moz-transform: translateZ(0)
//   -ms-transform: translateZ(0)
//   -o-transform: translateZ(0)
//   transform: translateZ(0)
//   -webkit-touch-callout: none
//   -webkit-user-select: none
//   -moz-user-select: none
//   -ms-user-select: none
//   user-select: none
//   -webkit-text-size-adjust: none
//   -moz-text-size-adjust: none
//   -ms-text-size-adjust: none
//   -o-text-size-adjust: none
//   text-size-adjust: none



// .iScrollHorizontalScrollbar
//   position: absolute
//   z-index: 9999
//   height: 16px
//   left: 2px
//   right: 2px
//   bottom: 2px
//   overflow: hidden
//   &.iScrollBothScrollbars
//     right: 18px

// .iScrollVerticalScrollbar
//   position: absolute
//   z-index: 9999
//   width: 16px
//   bottom: 2px
//   top: 2px
//   right: 2px
//   overflow: hidden
//   &.iScrollBothScrollbars
//     bottom: 18px

// .iScrollIndicator
//   position: absolute
//   background: #cc3f6e
//   border-width: 1px
//   border-style: solid
//   border-color: #EB97B4 #7C2845 #7C2845 #EB97B4
//   border-radius: 8px

// .iScrollHorizontalScrollbar .iScrollIndicator
//   height: 100%
//   background: -moz-linear-gradient(left, #cc3f6e 0%, #93004e 100%)
//   background: -webkit-linear-gradient(left, #cc3f6e 0%, #93004e 100%)
//   background: -o-linear-gradient(left, #cc3f6e 0%, #93004e 100%)
//   background: -ms-linear-gradient(left, #cc3f6e 0%, #93004e 100%)
//   background: linear-gradient(to right, #cc3f6e 0%, #93004e 100%)

// .iScrollVerticalScrollbar .iScrollIndicator
//   width: 100%
//   background: -moz-linear-gradient(top, #cc3f6e 0%, #93004e 100%)
//   background: -webkit-linear-gradient(top, #cc3f6e 0%, #93004e 100%)
//   background: -o-linear-gradient(top, #cc3f6e 0%, #93004e 100%)
//   background: -ms-linear-gradient(top, #cc3f6e 0%, #93004e 100%)
//   background: linear-gradient(to bottom, #cc3f6e 0%, #93004e 100%)

//  стили для iscroll





body
    background: #fff
    line-height: 1.4
    +smooth-font
    // +ss-pro-r
    +ss-pro
    font-size: 16px
    color: $grey-darken
    +tablet-1260
        background: #1b2a30

.sg-title
    // +dosis-sb
    +dosis
    font-weight: 600
    font-size: 30px
    color: $grey-darken
    line-height: 1.33
    letter-spacing: 0.1px
    +tablet-landscape
        font-size: 36px
        letter-spacing: 0.3px
    &_green
        color: $green-olive
    &_white
        color: $white


.sg-link
    text-decoration: none
    font-size: 20px
    font-weight: normal
    display: block
    position: relative
    padding: 4px 0
    &:before
        content: ""
        display: block
        width: 100%
        height: 2px
        border-radius: 1px
        background: currentColor
        position: absolute
        bottom: 0
        left: 0
    & > span
        color: $grey-darken !important



body
    &:not(.is-loaded)
        .sg-subnav
            display: none
    &.is-special
        .sg-prod-img
            img
                opacity: 1
                transform: none
        .sg-prod
            &:not(.sg-prod_column)
                +desktop-xs
                    height: auto
                    padding: 64px 0

    &.is-ios-safari
        .sg-hero__section_special
            .sg-hero__forward
                bottom: 0
    // &.is-ipad
    &.is-tablet-or-mob
        // .sg-hero
        //     height: auto
        //     min-height: 100vh
        //     &__bg
        //         position: fixed
        //         top: 0
        //         left: 0
        //         width: 100%
        //         height: 100%
        //     &__in
        //         position: relative
        //         z-index: 2
        //         padding: 16vh 0
        //     &__section
        //         display: block
        //         width: 100%
        //         height: auto
        //     &__trinity
        //         display: none
        //         &_mob
        //             display: block
        //     &__headline
        //         position: static
        //         transform: none
        //         margin-bottom: 10vh
        //     &__title
        //         & > span
        //             opacity: 1
        //     &__forward
        //         display: none
        .sg-prod-sections
            z-index: 50
        .sg-herolinks
            +tablet-1260
                .sg-cat
                    opacity: 1
                    &__line
                        transform: none

    &.is-tablet-or-mob
        .sg-bg-video__img
            opacity: 1
        +md
            .sg-header
                &__nav
                    min-height: 100vh
            .sg-nav
                flex-direction: column
    &.is-ie
        // .sg-header
        //     &__logo
        //         img
        //             object-fit: none
        //             display: none
        //             width: 176px
        //             height: 26px
        //             &.ie-logo
        //                 display: block
        // https://www.prosiebensat1.com/ поэтому это работает тут
        // overflow: hidden
        // .out
        //     overflow: scroll
        //     height: 100%
        .sg-hero
            &__bg







        // overflow-y: auto
        // overflow: scroll




        // .sg-hero
        //     width: 100%
        //     z-index: -1

        //     &__bg
        //         top: 0
        //     img, video
        //         position: static
        // .sg-bg-video
        //     position: fixed
        //     top: 0
        //     left: 0
        //     min-width: 1px
        //     max-width: auto
        //     width: 100%
        //     height: 100%
        // .sg-hero
        //     &__bg
        //         height: 100%
        //         position: absolute

        // .sg-bg-video
        //     video
        //         width: 150%
        //         height: 100%
        //         top: 50%
        //         transform: translate(-50%, -50%)
        //     &__img
        //         height: 100%
        //         width:  120%
        //         top:    50%
        //         left:   50%
        //         transform: translate(-50%, -50%)
        //         position: absolute
