.sg-home
    // padding-top: 52px
    // +desktop-xs
    //     padding-top: 64px
    // h1, h2, h3, h4, h5, h6
    //     font-weight: normal
    &__clients
        padding-top: 66px
        +tablet-landscape
            padding-top: 114px
        .sg-title
            text-align: center
            margin-bottom: 24px
    .sg-main
        padding-top: 0
        +desktop-xs
            padding-top: 0
            &:before
                display: none

.sg-prices
    background-color: $grey-darken
    padding-top: 64px
    overflow-x: hidden
    // h1, h2, h3, h4, h5, h6
    //     font-weight: normal
    +md
        padding-top: 52px

.sg-price-modules
    background-color: $white

.sg-in
    background: #fff
    position: relative
