@import helpers/mixins
@import helpers/helpers
@import helpers/variables


.sg-box
    background: #fff
    border-radius: 8px
    padding: 50px 24px 44px
    max-width: 520px
    overflow: hidden
    +tablet-sm
        padding: 58px 26px 42px
    +tablet-landscape
        max-width: none
        width: percentage(440/912)
        min-width: 448px
    +desktop-sm
        padding: 60px 32px 30px
        max-width: 593px
    &__title
        text-align: center
        margin-bottom: 24px
        color: $green-olive
        +tablet-sm
            margin-bottom: 20px
        +tablet-landscape
            font-size: 30px
        +desktop-sm
            font-size: 36px
    &__info
        text-align: center
        line-height: 1.4
        font-size: 18px
        max-width: 98%
        margin: 0 auto 44px
        // display: none
        // +ss-pro-r
        +ss-pro
        +tablet-sm
            margin-bottom: 36px
            display: block
        +desktop-sm
            margin-bottom: 41px
            max-width: 500px
        p
            line-height: 1.33
    &__meta
        font-size: 14px
        color: #8c9196
        text-align: center
        padding-top: 32px
        line-height: 1.44

    &__footer
        background-color: $grey-light-bg
        font-size: 18px
        top: 45px
        text-align: center
        left: -26px
        position: relative
        padding: 42px 24px
        margin-top: 14px
        width: calc(100% + 52px)
        +tablet-landscape
            padding: 25px 24px 37px
        // +tablet-sm
        //     top: 44px
        //     left: -26px
        //     padding: 44px 24px
        //     width: calc(100% + 52px)
        +desktop-sm
            top: 30px
            left: -32px
            padding: 41px 45px
            width: calc(100% + 64px)
        +sm
            padding: 25px 40px
        +xs
            padding: 25px 20px 39px

        a
           color: $blue-bright
           text-decoration: none

.sg-hubform
    position: relative
    background: #e9eff3
    min-height: 960px
    padding: 192px 0 80px
    +tablet-sm
        padding: 232px 0 96px
    +tablet-landscape
        padding: 80px 0
    &:before
        content: ""
        display: block
        +coverdiv
        background: rgba(20,40,60,.1)
        z-index: 2
    &__bg
        +coverdiv
        min-height: inherit
        background-repeat: no-repeat
        background-position: 50% 0
        background-size: auto 196px
        +tablet-sm
            background-position: 50% -110px
            background-size: auto 680px
        +tablet-landscape
            background-position: 50% 0
            background-size: auto 940px
        // +desktop-sm
        //     background-position: 50% 0
        +desktop-md
            background-size: auto 960px
        +rmin(3500)
            background-size: 100% 980px
    &__box
        z-index: 5
        width: 100%
        position: relative
        // position: absolute
        // top: 192px
        // right: 0
        // +tablet-sm
        //     top: 232px
        // +tablet-landscape
        //     top: 80px
        .sg-box
            margin: 0 auto
            +tablet-landscape
                margin-right: -1px

.sg-signup-form
    ul,ol
        list-style-type: none
        margin: 0
    fieldset
        max-width: none !important
    .hs-form-required
        display: none
    .hs-form-field
        margin-bottom: 12px
        &.is-error
            .input input, .input textarea
                border-color: $red-default
                color: $red-default
                &::placeholder
                    color: $red-default
                    opacity: 1
                :ms-input-placeholder
                    color: $red-default
                    opacity: 1
        &.is-completed:not(.is-error)
            .input input, .input textarea
                border-color: $green-olive
                color: $green-olive
    .input
        margin-right: 0 !important
        & > input, textarea
            width: 100% !important
            height: 48px
            border: 1px solid #d4d7d9
            padding: 0 16px
            font-size: 16px
            color: #8c9196
            margin: 0
            box-shadow: none
            // +ss-pro-r
            +ss-pro
            &::placeholder
                color: #8c9196
                opacity: 1
            :ms-input-placeholder
                color: #8c9196
                opacity: 1
            &::-webkit-contacts-auto-fill-button
                opacity: 0
            &:focus
                background-color: transparent
                box-shadow: none
                &::-webkit-contacts-auto-fill-button
                    opacity: 0
        & > textarea
            height: 128px
            padding: 12px 16px
            +tablet-sm
                height: 90px
    .form-columns-1
        .hs-form-field
            .input input, .input textarea
                border-radius: 4px
    .form-columns-2, .form-columns-3, .form-columns-4
        .hs-form-field
            .input input, .input textarea
                border-radius: 0
            &:first-child
                .input input, .input textarea
                    border-top-left-radius: 4px
                    border-bottom-left-radius: 4px
                    border-right: 0
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                        border-top-right-radius: 4px
                        border-bottom-right-radius: 4px
                        border-right: 1px solid #d4d7d9
                &.is-completed
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-color: $green-olive
                            border-left-color: $green-olive !important
                &.is-error
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-color: $red-default
                            border-left-color: $red-default !important
                &.is-completed + .hs-form-field:not(.is-error)
                    .input input, .input textarea
                        border-left: 1px solid $green-olive
                &.is-completed + .hs-form-field:not(.is-completed)
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: #d4d7d9
                &.is-completed + .hs-form-field.is-error
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: $red-default
                &.is-completed + .hs-form-field.is-completed
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: $green-olive
                &.is-error + .hs-form-field
                    .input input, .input textarea
                        border-left: 1px solid $red-default
                &.is-error + .hs-form-field:not(.is-completed)
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: #d4d7d9
                &.is-error + .hs-form-field.is-completed
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: $green-olive
                &.is-error + .hs-form-field.is-error
                    .input input, .input textarea
                        @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                            border-left-color: $red-default

            &:last-child
                .input input, .input textarea
                    border-top-right-radius: 4px
                    border-bottom-right-radius: 4px
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px)
                        border-top-left-radius: 4px
                        border-bottom-left-radius: 4px
    .hs-fieldtype-booleancheckbox
        margin-bottom: 42px
        &.is-error
            .hs-form-booleancheckbox-display
                & > span:not(.hs-form-required)
                    &:before
                        border-color: $red-default
    .hs-form-booleancheckbox-display
        position: relative
        & > input[type="checkbox"]
            display: none
            &:checked
                & + span
                    &:before
                        border-color: $green-olive
                    &:after
                        display: block
        & > span:not(.hs-form-required)
            padding-left: 36px
            display: block
            font-size: 13px
            line-height: 1.6
            color: #8c9196
            position: relative
            &:before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 22px
                height: 22px
                border-radius: 4px
                border: 1px solid #d4d7d9
            &:after
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 22px
                height: 22px
                background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTE0LjcgNC43bC03LjYgNy42Yy0uMi4yLS40LjMtLjcuM3MtLjUtLjEtLjctLjNMMi4zIDguOGMtLjQtLjQtLjQtMSAwLTEuNHMxLS40IDEuNCAwbDIuNyAyLjcgNi45LTYuOWMuNC0uNCAxLS40IDEuNCAwcy40IDEuMSAwIDEuNXoiIGZpbGw9IiNBQUJFMjgiIC8+PC9zdmc+)
                background-repeat: no-repeat
                background-position: 50% 50%
                background-size: 75% 75%
                display: none
        a
            color: inherit
            text-decoration: none
            // +ss-pro-sb
            +ss-pro
            font-weight: 600
            +desktop-hover
                transition: opacity .25s ease-in-out
                &:hover
                    opacity: .75

    .hs-button
        appearance: none
        height: 56px
        text-decoration: none
        text-align: center
        display: block
        background: transparent
        border: 1px solid transparent
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        font-size: 20px
        border: 1px solid $green-olive
        background: $green-olive
        border-radius: 4px
        color: #fff
        width: 100%
        max-width: 240px
        margin: 0 auto
        +desktop-hover
            transition: all .25s ease-in-out
            &:hover
                background: $green-dim
                border-color: $green-dim
    .hs-error-msgs
        label
            display: block
            color: $red-default
            font-size: 14px
            line-height: 1
            padding-top: 6px
            padding-left: 6px
    .hs_error_rollup
        display: none
