@import helpers/mixins
@import helpers/helpers
@import helpers/variables
@import lib/swiper
@import hide
@import layouts

.sg-logo
    display: block
    width: 176px
    height: 32px
    img
        max-width: 176px
        height: auto
        display: block
        // max-height: 32px
        // width: 100%
        // height: 100%
        // object-fit: contain
        // ms-display: none
        // &.ie-logo
        //     ms-display: block
.sg-line
    position: relative    // stopBodyScrolling(true);
    &:before
        content: ""
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 2px
        border-radius: 1px
        display: none
        background: currentColor
    &_blue
        & > a
            color: $blue-sky
        &:before
            background: $blue-sky
    &.is-active
        &:before
            display: block

.sg-main, .sg-header, .sg-footer, .sg-prices__main
    transition: transform .25s ease-in-out

.sg-main
    padding-top: 52px
    +desktop-xs
        padding-top: 116px
        position: relative
        &:before
            content: ""
            display: block
            position: absolute
            top: 64px
            left: 0
            width: 100%
            height: 52px
            background: $grey-dark
            z-index: 0
    &_special
        +desktop-xs
            &:before
                background: #fff
.body-mob-overlay
    z-index: 50
    position: fixed
    top: 50%
    left: 50%
    width: 150%
    height: 150%
    transform: translate(-50%, -50%)
    background: transparentize($grey-dark, .15)
    display: none
    overflow: hidden
.ios-fixed-body
    position: fixed
    width: 100%
    height: 100%
    // position: relative
body.is-nav-open
    overflow: hidden
    .body-mob-overlay
        display: block
    // .sg-nav
    //     display: flex
    //     flex-direction: column
    .sg-header,
    .sg-main,
    .sg-footer,
    .sg-prices__main
        transform: translate(-256px, 0)
    .sg-header
        .sg-logo
            opacity: 0.2
            pointer-events: none
        &__nav
            transform: translate(0, 0)
            // opacity: 1
        &__buttons
            .sg-phonebox
                display: none
        // &__controls
        //     display: flex

.sg-header
    background: #FFF
    line-height: 1.4
    +smooth-font
    // +ss-pro-r
    +ss-pro
    font-size: 16px
    color: $grey-darken
    z-index: 200
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 52px
    display: flex
    align-items: center
    background: $grey-dark
    // transition: height .25s ease-in-out, transform .25s ease-in-out
    transform: translate3d(0,0,0)
    +desktop-xs
        height: 64px
    &.is-subnav-open
        +desktop-xs
            transform: none
            &:before
                content: ""
                display: block
                position: fixed
                top: 64px
                left: 0
                width: 100%
                height: 52px
                background: transparentize($grey-slate, .05)
    button
        cursor: pointer
        &::-moz-focus-inner
            padding: 0
            border: 0
    div, input, textarea, select,button,
    h1,h2,h3,h4,h5,h6,a,span,a:focus
        outline: none
    h3
        opacity: 1
    ul,ol
        list-style-type: none
        margin: 0
        // padding: 0
    ol ol, ol ul, ul ol, ul ul
        margin: 0
        // padding: 0
    *, *:before, *:after
        box-sizing: border-box

    @media (prefers-reduced-motion: reduce)
        *
            transition: none !important

    &__in
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        +desktop-xs
            min-width: 176px
        +desktop-sm
            min-width: 282px
        .ie-logo
            display: none
    &__controls
        // display: none
        display: flex
        justify-content: flex-end
        align-items: center
        order: 0
        padding: 15px 32px
        margin-bottom: 21px
        +desktop-xs
            order: 1
            margin-bottom: 0
            padding: 0
            display: flex
            min-width: 176px
        +desktop-sm
            min-width: 282px
        .sg-button
            margin-right: 16px
            // margin-right: 32px
            // +desktop-xs
            //     margin-right: 16px
            &:first-child
                margin-right: 0
                +desktop-xs
                    margin-right: 16px
            &:last-child
                +desktop-xs
                    margin-right: 0
                +md
                    flex-grow: 1

            &_primary
                width: 116px
                order: 0
                +desktop-xs
                    width: 104px
                    order: 1
        .sg-phonebox
            order: 1
            +desktop-xs
                order: 0
            &__icon
                .icon
                    fill: #fff
                    // fill: $green-acid
                    // +desktop-xs
                    //     fill: #fff
    &__buttons
        display: flex
        align-items: center
        margin-right: -3px
        +desktop-xs
            display: none
        .sg-burger
            position: relative
            left: 12px
        .sg-phonebox
            margin-left: 24px
            width: 36px
            height: 36px
            line-height: 36px
            &__icon
                .icon
                    width: 15px
                    height: 16px
    &__nav
        position: fixed
        top: 0
        right: -256px
        width: 256px
        transform: translate(256px, 0)
        background: $grey-dark
        box-shadow: 0 0 80px 0px rgba(205,240,255,0.1)
        height: 100vh
        // display: none
        // min-height: 100vh
        overflow-y: auto
        display: flex
        flex-direction: column
        transition: transform .25s ease-in-out
        // opacity: 0
        // z-index: -111
        +desktop-xs
            // z-index:    0
            display: flex
            transition: none
            position: static
            width: auto
            background: none
            box-shadow: none
            height: auto
            overflow: visible
            transform: none
            flex-direction: row
            flex-grow: 1
            opacity: 1
        &.is-prepared
            z-index: 0
            // display: flex
            // opacity: 1
    &_special
        .sg-subnav
            +desktop-xs
                display: none !important

.sg-nav
    display: none
    order: 1
    padding: 0 16px
    height: 100%
    display: flex
    +desktop-xs
        order: 0
        display: flex
        justify-content: center
        flex-grow: 1
    +md
        flex-direction: column
    a
        color: #fff
        text-decoration: none
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        transition: color .25s ease-in-out
    &__item
        border-top: 1px solid $grey-dim
        position: relative
        line-height: 1.4
        +desktop-xs
            border-top: none
        & > a
            font-size: 16px
            display: block
            padding: 12px 17px
            +desktop-xs
                padding: 10px 15px 14px 14px
            +desktop-hover
                &:hover
                    color: $blue-sky
            +desktop-sm
                font-size: 18px
        &.is-active
            & > a
                color: $blue-sky
        &_accordion
            &:before
                content: ""
                display: block
                position: absolute
                top: 22px
                right: 16px
                width: 14px
                height: 2px
                background: $grey-light
            &:after
                content: ""
                display: block
                position: absolute
                top: 16px
                right: 22px
                width: 2px
                height: 14px
                background: $grey-light
                transition: transform .25s ease-in-out
            &.is-open
                &:after
                    transform: rotate(-90deg)
            +desktop-xs
                &:after, &:before
                    display: none
        // &:not(.sg-nav__item_accordion)
        //     +desktop-xs
        //         &:before
        //             content: ""
        //             display: block
        //             position: fixed
        //             top: 64px
        //             left: 0
        //             width: 100%
        //             height: 52px
        //             background: transparentize($grey-slate, .05)
        //             z-index: 0
        //             display: none
        //         &:hover
        //             &:before
        //                 display: block

.sg-subnav
    display: none
    padding: 0 17px 14px 32px
    +desktop-xs
        z-index: 99
        position: fixed
        top: 64px
        left: 0
        width: 100%
        height: 52px
        background: transparentize($grey-slate, .05)
        padding: 0 24px
        justify-content: center
        align-items: center
        display: flex
    +desktop-sm
        padding: 0 32px
    &:not(.sg-subnav_special)
        +desktop-xs
            background: none
            left: 50%
            transform: translateX(-50%)
            white-space: nowrap
            position: absolute
            top: 56px
            width: auto
            display: block

    &.is-hidden
        opacity: 0
        pointer-events: none
    &__item
        margin-top: 12px
        +desktop-xs
            margin-top: 0
            display: inline-block
        & > a
            display: block
            font-size: 14px
            line-height: 1
            padding: 5px 0
            +desktop-xs
                padding: 20px 15px 18px
            +desktop-hover
                &:hover
                    color: $blue-sky
            +desktop-sm
                font-size: 16px
                padding: 18px 13px 18px
        &:first-child
            margin-top: 14px
            +desktop-xs
                margin-top: 0
        &.is-active
            a
                color: $blue-sky
            &:before
                display: none
                +desktop-xs
                    display: block


.sg-footer
    line-height: 1.4
    +smooth-font
    // +ss-pro-r
    +ss-pro
    font-size: 16px
    background: $grey-dark
    color: #fff
    padding: 57px 0 76px
    overflow: hidden
    position: relative
    +tablet-landscape
        padding: 73px 0 76px
    button
        cursor: pointer
        &::-moz-focus-inner
            padding: 0
            border: 0
    div, input, textarea, select,button,
    h1,h2,h3,h4,h5,h6,a,span,a:focus
        outline: none
    h3
        opacity: 1
    ul,ol
        list-style-type: none
        margin: 0
        padding: 0
    ol ol, ol ul, ul ol, ul ul
        margin: 0
        padding: 0
    *, *:before, *:after
        box-sizing: border-box

    @media (prefers-reduced-motion: reduce)
        *
            transition: none !important

.sg-datablock
    text-align: center
    +tablet-landscape
        display: flex
        text-align: left
    +desktop-sm
        margin-bottom: 29px
    &__data
        margin-bottom: 58px
        +tablet-landscape
            min-width: 232px
            margin-bottom: 0

    &__news
        margin-bottom: 31px
        +tablet-landscape
            padding-left: 16px
            flex-grow: 1
            max-width: calc(100% - 232px)
        +desktop-sm
            padding-left: 80px
            margin-bottom: 0
    &__img
        width: 100%
        margin: 0 auto
        display: none
        img
            width: 100%
            height: 100%
            object-fit: contain
            overflow: hidden
        &_portrait
            display: block
            max-width: 232px
            height: 192px
            +mobile-landscape
                display: none
            +tablet-landscape
                display: block

        &_landscape
            display: none
            max-width: 520px
            height: 104px
            +mobile-landscape
                display: block
            +tablet-landscape
                display: none


.sg-metatitle
    color: #fff
    // +ss-pro-sb
    +ss-pro
    font-weight: 600
    font-size: 22px
    margin-bottom: 26px
    &_green
        color: $grey-darken

.sg-newsboxes
    margin: 0 auto
    position: relative
    overflow: hidden
    list-style: none
    padding: 0
    z-index: 1
    padding-bottom: 50px
    +mobile-landscape
        padding-bottom: 12px
    .swiper-pagination
        bottom: 10px
        left: 0
        width: 100%
        +mobile-landscape
            display: none
    .swiper-pagination-bullet
        width: 12px
        height: 12px
        border: 2px solid transparentize($grey-whiten, .5)
        background: transparent
        cursor: pointer
        &-active
            border-color: $grey-whiten
            background: $grey-whiten
    & > .swiper-pagination-bullets
        .swiper-pagination-bullet
            margin: 0 6px
    .swiper-wrapper
        +mobile-landscape
            width: 100%
    .sg-newsbox
        +mobile-landscape
            width: percentage(161/523)
            margin-right: 20px
            &:last-child
                margin-right: 0
        +tablet-landscape
            width: percentage(218/680)
            margin-right: 16px
        +desktop-sm
            width: percentage(286/920)
            margin-right: 32px

.sg-newsbox
    text-decoration: none
    // +desktop-hover
    &:hover
        .sg-newsbox__img
            &:before
                opacity: 0
        .sg-newsbox__text
            color: #fff
    &__img
        width: 100%
        position: relative
        height: 0
        padding-top: 66.666%
        margin-bottom: 21px
        &:before
            content: ""
            display: block
            +coverdiv
            background: rgba(0,0,0,.4)
            opacity: 1
            transition: opacity .25s ease-in-out
            z-index: 1
            border-radius: 4px
        // height: 152px
        // margin-bottom: 21px
        // +tablet-landscape
        //     position: relative
        //     &:before
        //         content: ""
        //         display: block
        //         +coverdiv
        //         background: rgba(0,0,0,.4)
        //         opacity: 1
        //         transition: opacity .25s ease-in-out
        img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            overflow: hidden
            border-radius: 4px
    &__text
        color: $grey-whiten
        font-size: 18px
        line-height: 1.33
        transition: color .25s ease-in-out
        +mobile-landscape
            word-break: break-word
            text-align: left


.sg-contactblock
    border-top: 4px solid rgba(#fff, .1)
    padding: 48px 0 16px
    display: flex
    flex-direction: column
    +tablet-landscape
        flex-direction: row
        padding-bottom: 4px
    &__nav
        order: 1
        +tablet-landscape
            order: 0
            flex-grow: 1
            padding: 24px 24px 0 0
    &__contact
        order: 0
        margin-bottom: 58px
        +tablet-landscape
            order: 1
            margin-bottom: 0
            width: percentage(440/912)
            min-width: 448px
        +desktop-sm
            min-width: 592px

.sg-contactbox
    border-radius: 8px
    overflow: hidden
    text-align: center
    color: $grey-darken
    +mobile-landscape
        text-align: left
    .sg-metatitle
        margin-bottom: 16px
    .sg-button
        height: 48px
        line-height: 47px
        display: inline-block
        padding: 0 14px
        margin-top: 15px
        +tablet-landscape
            font-size: 18px
    &__top
        background: $grey-light-bg
        padding: 25px 20px
        +mobile-landscape
            padding: 25px 32px 43px
    &__bottom
        background: #fff
        padding: 29px 20px 32px
        +mobile-landscape
            padding: 29px 32px 32px
    &__text
        font-size: 18px
        line-height: 1.34
        p
            margin-bottom: 12px
        a
            // +dosis-sb
            +dosis
            font-weight: 600
            text-decoration: none
            font-size: 30px
            color: $blue-bright
            +mobile-landscape
                font-size: 40px
                line-height: 1
            +desktop-hover
                transition: opacity .25s ease-in-out
                &:hover
                    opacity: .75

.sg-footnav
    +mobile-landscape
        display: flex
        justify-content: space-between
    &__col
        +mobile-landscape
            width: 48%
        +tablet-landscape
            width: 47%
        +desktop-sm
            width: 47.5%
        .sg-footnav__list
            margin-bottom: 50px
            // &:last-child
            //     margin-bottom: 0
    &__list
        text-align: center
        +tablet-landscape
            text-align: left
        .sg-metatitle
            margin-bottom: 16px
        ul
            li
                margin-bottom: 16px
                &:last-child
                    margin-bottom: 0
            a
                text-decoration: none
                color: $grey-whiten
                font-size: 16px
                padding: 4px 0
                display: inline-block
                line-height: 1
                word-break: break-word
                +desktop-hover
                    transition: color .25s ease-in-out
                    &:hover
                        color: #fff
.sg-metablock
    +tablet-landscape
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__socials
        margin-bottom: 67px
        text-align: center
        +tablet-landscape
            margin-bottom: 0
            min-width: 356px
            text-align: left
    &__lang
        margin-bottom: 64px
        +tablet-landscape
            margin-bottom: 3px
            flex-grow: 1
    &__copy
        text-align: center
        +tablet-landscape
            min-width: 356px
            text-align: right
            margin-top: 5px

.sg-socials
    display: inline-flex
    justify-content: center
    li
        margin-right: 20px
        &:last-child
            margin-right: 0
    a
        display: block
        text-decoration: none
        color: $grey-whiten
        +desktop-hover
            &:hover
                .icon
                    fill: #fff
    .icon
        display: block
        width: 36px
        height: 36px
        fill: $grey-whiten
        transition: fill .25s ease-in-out

.sg-langswitcher
    margin: 0 auto
    text-align: center
    font-size: 0
    +tablet-landscape
        width: 100%
    a
        text-decoration: none
        color: $grey-whiten
        font-size: 14px
        display: inline-block
        vertical-align: middle
        padding: 0 10px
        line-height: 1
        position: relative
        margin-right: 1px
        +desktop-hover
            transition: color .25s ease-in-out
            &:hover
                color: #fff
        &:before
            content: ""
            display: block
            width: 1px
            height: 100%
            position: absolute
            right: -1px
            top: 0
            background: $grey-whiten
        &:last-child
            &:before
                display: none
        &.is-active
            // +ss-pro-sb
            +ss-pro
            font-weight: 600
            color: #fff
            pointer-events: none

.sg-copyright
    font-size: 14px
    margin-bottom: 19px
    +mobile-landscape
        margin-bottom: 16px
.sg-copylinks
    li
        display: block
        margin-bottom: 18px
        +mobile-landscape
            display: inline-block
            vertical-align: middle
            margin-bottom: 0
            margin-right: 11px
        &:last-child
            margin-bottom: 0
            +mobile-landscape
                margin-right: 0
    a
        text-decoration: none
        color: $grey-whiten
        font-size: 14px
        display: inline-block
        padding: 4px 0
        line-height: 1
        +desktop-hover
            transition: color .25s ease-in-out
            &:hover
                color: #fff



@import components/button
@import components/burger
@import components/phonebox
