---
title: Homepage
firstColor: '#de3c8d'
secondColor: '#1db0e7'
thirdColor: '#ff8228'
---
{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="sg-home">
        {% include "partials/_header.html" %}


        <div class="sg-main">

            {% include "partials/_hero.html" %}

            <div class="sg-in">

                <div class="sg-prod-sections" id="softgarden-products">
                    <div class="sg-prod-sections__nav">
                        {% include "partials/_product-navigation.html" %}
                    </div>

                    <div class="js-scroll-block">
                        {% include "partials/_prod-section.html" %}
                    </div>
                </div>


                <div class="sg-home__clients js-clients">
                    <div class="sg-l">
                        <h2 class="sg-title">Unsere Kunden & Referenzen</h2>
                    </div>
                    {% include "partials/_tabslider.html" %}
                </div>

                <div id="contact-form" class="sg-home__hubform">
                    {% include "partials/_hubform.html" %}
                </div>

            </div>

        </div>

        {% include "partials/_footer.html" %}
    </div>

{% endblock %}
