---

---

{% extends "layouts/_layout-prices.html" %}

{% block content %}

<div class="sg-prices">
	{% include "partials/_header.html" %}
	<div class="sg-prices__main">
		{% include "partials/_price.html" %}
		{% include "partials/_price-modules.html" %}
		{% include "partials/_price-functions.html" %}
		{% include "partials/_price-contacts.html" %}	
	</div>
	{% include "partials/_footer.html" %}
</div>

{% endblock %}