@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)
=tablet-1260
  +r(1259)
    @content
=md
  +r(1023)
    @content

=sm
  +r(767)
    @content
=sm-mob
  +r(719)
    @content
=xs
  +r(599)
    @content

=desktop-lg
  +rmin(1600)
    @content

=desktop-md
  +rmin(1440)
    @content

=desktop-sm
  +rmin(1280)
    @content

=desktop-hover
  +rmin(1025)
    @content

=desktop-xs
  +rmin(1024)
    @content

=tablet-portrait
  +rmin(768)
    @content

=tablet-sm
  +rmin(720)
    @content

=tablet-landscape
  +rmin(960)
    @content

=mobile-landscape
  +rmin(568)
    @content

=mobile-portrait
  +rmin(320)
    @content

// +font('Dosis Regular', 'dosis-regular-webfont')
// +font('Dosis Medium', 'dosis-medium-webfont')
// +font('Dosis Semibold', 'dosis-semibold-webfont')
// +font('Dosis Bold', 'dosis-bold-webfont')
// +font('Source Sans Pro Light', 'sourcesanspro-light-webfont')
// +font('Source Sans Pro Regular', 'sourcesanspro-regular-webfont')
// +font('Source Sans Pro Semibold', 'ssp-semibold')


=dosis
  font-family: 'Dosis', Helvetica, Arial, sans-serif
=ss-pro
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif

// =dosis-r
//   font-family: 'Dosis Regular', Helvetica, Arial, sans-serif
// =dosis-m
//   font-family: 'Dosis Medium', Helvetica, Arial, sans-serif
// =dosis-sb
//   font-family: 'Dosis Semibold', Helvetica, Arial, sans-serif
// =dosis-b
//   font-family: 'Dosis Bold', Helvetica, Arial, sans-serif

// =ss-pro-r
//   font-family: 'Source Sans Pro Regular', Helvetica, Arial, sans-serif
// =ss-pro-l
//   font-family: 'Source Sans Pro Light', Helvetica, Arial, sans-serif
// =ss-pro-sb
//   font-family: 'Source Sans Pro Semibold', Helvetica, Arial, sans-serif
