{% set news = [
        {
            img: 'img/news-img-1.jpg',
            text: 'Keine Bewerber mehr vergraulen – Wie sollten gute Führungskräfte sein?'
        },
        {
            img: 'img/news-img-2.jpg',
            text: 'Onboardingmaßnahmen – So machen Sie neue Mitarbeiter glücklich'
        },
        {
            img: 'img/news-img-3.jpg',
            text: 'Durchsetzen gegen die Konkurrenz – Das wünschen sich Bewerber vor Arbeitsantritt'
        }
    ]
%}

{% set product = [
        'Bewerbermanagement', 'Recruiting App', 'E-Recruiting', 'Empfehlungsmanager', 'Stellenanzeigen', 'Feedback Solution', 'Talent Network', 'Kostenlos testen', 'Preise'
    ]
%}

{% set facts = [
        'Studien', 'E-Books', 'softgarden Blog', 'Glossar'
    ]
%}

{% set about = [
        'Über softgarden', 'Presse', 'Jobs'
    ]
%}

{% set socials = [
        'facebook', 'twitter', 'linkedin', 'xing'
    ]
%}

{% set languages = [
        {
            text: 'English'
        },
        {
            text: 'Deutsch',
            active: true
        }
    ]
%}

<!-- begin sg-footer -->
<footer class="sg-footer">
    <div class="sg-l">
        <!-- begin sg-datablock -->
        <div class="sg-datablock">
            <div class="sg-datablock__data">
                <h3 class="sg-metatitle">Datenschutz</h3>
                <a href="" class="sg-datablock__img sg-datablock__img_portrait">
                    <img src="img/datenschutz.svg" alt="" data-object-fit="contain">
                </a>
                <a href="" class="sg-datablock__img sg-datablock__img_landscape">
                    <img src="img/datenschutz-wide.svg" alt="" data-object-fit="contain">
                </a>
            </div>

            <div class="sg-datablock__news">
                <h3 class="sg-metatitle">softgarden News & Blog</h3>
                <!-- begin sg-newsbox -->
                <div class="sg-newsboxes js-newsbox">
                    <div class="swiper-wrapper">
                        {% for n in news %}
                        <a href="" class="sg-newsbox swiper-slide">
                            <div class="sg-newsbox__img">
                                <img src="{{ n.img }}" alt="" data-object-fit="cover">
                            </div>

                            <div class="sg-newsbox__text">{{ n.text | safe }}</div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- end sg-newsbox -->
            </div>
        </div>
        <!-- end sg-datablock -->

        <!-- begin sg-contactblock -->
        <div class="sg-contactblock">
            <div class="sg-contactblock__nav">
                <!-- begin sg-footnav -->
                <div class="sg-footnav">
                    <div class="sg-footnav__col">
                        <div class="sg-footnav__list">
                            <h3 class="sg-metatitle">Produkt</h3>
                            <ul>
                                {% for i in product %}
                                <li><a href="">{{ i | safe }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sg-footnav__col">
                        <div class="sg-footnav__list">
                            <h3 class="sg-metatitle">Fakten</h3>
                            <ul>
                                {% for i in facts %}
                                <li><a href="">{{ i | safe }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="sg-footnav__list">
                            <h3 class="sg-metatitle">Über uns</h3>
                            <ul>
                                {% for i in about %}
                                <li><a href="">{{ i | safe }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end sg-footnav -->
            </div>

            <div class="sg-contactblock__contact">
                <!-- begin sg-contactbox -->
                <div class="sg-contactbox">
                    <div class="sg-contactbox__top">
                        <h3 class="sg-metatitle sg-metatitle_green">Kontakt</h3>
                        <div class="sg-contactbox__text">
                            <p>Noch kein Kunde? Rufen Sie uns an:</p>
                            <a href="tel:+ 4930884940400">+ 49 30 884 940 400</a>
                        </div>
                    </div>

                    <div class="sg-contactbox__bottom">
                        <div class="sg-contactbox__text">
                            <p>Oder vereinbaren Sie einen persönlichen Termin:</p>
                        </div>
                        <a href="#" class="sg-button sg-button_primary">Kontaktformular</a>
                    </div>
                </div>
                <!-- end sg-contactbox -->
            </div>
        </div>
        <!-- end sg-contactblock -->

        <!-- begin sg-metablock -->
        <div class="sg-metablock">
            <div class="sg-metablock__socials">
                <ul class="sg-socials">
                    {% for i in socials %}
                    <li><a href="">{{ mixins.icon(i) }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="sg-metablock__lang">
                <div class="sg-langswitcher">
                    {% for i in languages %}
                    <a href=""{%if i.active%} class="is-active"{%endif%}>{{ i.text | safe }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="sg-metablock__copy">
                <div class="sg-copyright">
                    <p>© 2018 softgarden e-recruiting GmbH</p>
                </div>

                <ul class="sg-copylinks">
                    <li><a href="">Impressum</a></li>
                    <li><a href="">Datenschutzerklärung</a></li>
                    <li><a href="">Nutzungsbedingungen</a></li>
                </ul>
            </div>
        </div>
        <!-- end sg-metablock -->
    </div>
</footer>
<!-- end sg-footer -->
