<!-- begin sg-header -->
<header class="sg-header">
    <div class="sg-l">
        <div class="sg-header__in">
            <!-- begin sq-topbar__logo -->
            <div class="sg-header__logo">
                <a href="#" class="sg-logo " >
                    <img src="img/sg-logo.svg" alt="alt">
                </a>
            </div>
            <!-- end sq-topbar__logo -->
            <!-- begin sq-topbar__nav -->
            <div class="sg-header__nav js-sg-header-nav">
                <ul class="sg-nav">
                    <li class="sg-nav__item sg-nav__item_accordion js-accordion js-nav-item">
                        <a href="#" class="js-accordion-trigger">Produkt</a>
                        <ul class="sg-subnav sg-subnav_special js-accordion-in">
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Bewerbermanagement</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Recruiting App</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Empfehlungsmanager</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">E-Recruiting</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Stellenanzeigen</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Feedback Solution</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Talent Network</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sg-nav__item js-nav-item">
                        <a href="#">Service</a>
                    </li>
                    <li class="sg-nav__item js-nav-item">
                        <a href="#">Preise</a>
                    </li>
                    <li class="sg-nav__item js-nav-item">
                        <a href="#">Referenzen</a>
                    </li>
                    <li class="sg-nav__item sg-nav__item_accordion js-accordion js-nav-item">
                        <a href="#" class="js-accordion-trigger">HR Wissen</a>
                        <ul class="sg-subnav js-accordion-in is-hidden">
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Studien</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">E-Books</a>
                            </li>
                            <li class="sg-subnav__item sg-line sg-line_blue">
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sg-nav__item js-nav-item">
                        <a href="#">Login</a>
                    </li>
                </ul>

                <div class="sg-header__controls">
                    <!-- begin sg-phonebox -->
                    <a href="tel:+4930884940400" class="sg-button sg-button_secondary sg-phonebox">
                        <i class="sg-phonebox__icon">{{ mixins.icon('phone') }}</i>
                        <span class="sg-phonebox__text">+ 49 30 884 940 400</span>
                    </a>
                    <!-- end sg-phonebox -->

                    <a href="#" class="sg-button sg-button_primary">Live Demo</a>
                </div>
            </div>
            <!-- end sq-topbar__nav -->

            <div class="sg-header__buttons">
                <!-- begin sg-phonebox -->
                <a href="tel:+4930884940400" class="sg-button sg-button_secondary sg-phonebox">
                    <i class="sg-phonebox__icon">{{ mixins.icon('phone') }}</i>
                    <span class="sg-phonebox__text">+ 49 30 884 940 400</span>
                </a>
                <!-- end sg-phonebox -->

                <!-- begin sg-burger -->
                <button class="sg-burger js-nav-open">
                    <span class="sg-burger__in">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <!-- end sg-burger -->
            </div>
        </div>
    </div>
</header>
<!-- end sg-header -->
