{% set links = [
    {
        text: 'Einmalige',
        link: 'Bewerberauswahl',
        color: firstColor,
        url: 'Bewerberauswahl',
        tabletMobIcon: mixins.heroTabletMobIcon1()
    },
    {
        text: 'Effizientes',
        link: 'Bewerbermanagement',
        color: secondColor,
        url: 'Bewerbermanagement',
        tabletMobIcon: mixins.heroTabletMobIcon2()
    },
    {
        text: 'Ausgezeichnete',
        link: 'Arbeitgeber-Reputation',
        color: thirdColor,
        url: 'Arbeitgeber-Reputation',
        tabletMobIcon: mixins.heroTabletMobIcon3()
    }
    ]
    %}



    <div class="sg-hero js-hero">
        <div class="sg-hero__bg js-hero-bg">
            <div class="sg-bg-video js-hero-bg-inner">
                <img class="sg-bg-video__img sg-bg-video__img_portrait" src="img/dummy-placeholder-portrait.jpg" alt="">
                <img class="sg-bg-video__img sg-bg-video__img_landscape" src="img/dummy-placeholder-landscape.jpg" alt="">
                <video autoplay muted loop id="hero-background-video">
                    <source data-src="http://cssing.org.ua/dummy-video1.mp4" type="video/mp4">
                </video>
              </div>
          </div>
          <div class="sg-hero__trinity js-hero-trinity">
            {{ mixins.trinityGraph() }}
            <ul class="sg-hero__links sg-herolinks">
                {% for l in links %}
                <li class="sg-herolinks__item">
                    <a href="#{{ l.url }}" class="sg-cat js-hero-link">
                        <span class="sg-cat__text">{{ l.text | safe }}</span>
                        <span class="sg-cat__link" style="color: {{ l.color }}">
                            {{ l.link | safe }}
                            <span class="sg-cat__line js-hero-link-line"></span>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sg-hero__in">
            <div class="sg-hero__section js-hero-headline">
                <!--begin sg-hero__mob-wrapper-->
                <div class="sg-hero__mob-wrapper">
                    <div class="sg-hero__headline">
                        <h1 class="sg-hero__title js-hero-title">
                            <span class="js-hero-part">Die Rundum-Lösung</span>
                            <span class="js-hero-part">für Ihr Recruiting</span>
                        </h1>
                        <div class="sg-hero__text js-hero-text">
                            <p>Entscheiden Sie sich für die E-Recruiting-Komplettlösung, <br>die Ihnen mehr bietet als nur Bewerbermanagement.</p>
                        </div>
                    </div>

                    <div class="sg-hero__trinity sg-hero__trinity_mob">
                        {{ mixins.trinityGraph() }}

                    </div>

                </div>
                <!--end sg-hero__mob-wrapper-->
                <div class="sg-hero__mob-links-wrapper">
                    <ul class="sg-hero__links sg-hero__links_mob sg-herolinks">
                        {% for l in links %}
                        <li class="sg-herolinks__item">
                          <span class="sg-herolinks__tablet-mob-icon">
                            {{ l.tabletMobIcon }}
                        </span>
                        <a href="#{{ l.url }}" class="sg-cat js-hero-link">
                            <span class="sg-cat__text">{{ l.text | safe }}</span>
                            <span class="sg-cat__link" style="color: {{ l.color }}">
                                {{ l.link | safe }}
                                <span class="sg-cat__line js-hero-link-line"></span>
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="sg-hero__forward-wrapper"> -->
        <div class="sg-hero__forward is-start-view sg-hero__forward_changing js-hero-forward">
            <a href="#softgarden-products" class="sg-scroll-link  js-anchor-outer">
                <span class="sg-scroll-link__text first-text">Was unsere Lösung so einzigartig macht</span>
                <span class="sg-scroll-link__text second-text">softgarden Produkte</span>
                {{ mixins.icon('arrow-scroll-down') }}
            </a>
        </div>
        <!-- </div> -->


    </div>

