<div class="sg-hubform">
    <div class="sg-hubform__bg" style="background-image: url('img/live-demo-hero.jpg')"></div>
    <div class="sg-hubform__box">
        <div class="sg-l">
            <div class="sg-box">
                <h2 class="sg-box__title sg-title sg-title_green">Jetzt Live Demo anfordern</h2>
                <div class="sg-box__info">
                    <p>Entdecken Sie uns von einer ganz persönlichen Seite! Und erfahren Sie in Ihrer Live-Demo, warum zeitgemäßes E-Recruiting für Ihr Unternehmen unverzichtbar ist.</p>
                </div>
                <div class="js-hubform">
                    <div class="hbspt-forms-target-8417c715-ac68-4f7e-a992-b56e958f5574"></div>
                </div>
                <div class="sg-box__meta">
                    <p>Ihre Daten werden SSL-verschlüsselt übertragen.</p>
                </div>
            </div>
        </div>
    </div>
</div>
