{% macro icon(i) %}
<svg class="icon icon-{{i}}">
    <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
</svg>
{% endmacro %}

{% macro trinityIcon(activeIndex) %}
<svg class="trinity js-trinity" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
    <path class="trinity__color{%if activeIndex===1%} is-active{%endif%}" fill="#de3c8d" d="M30.222 7.111a6.222 6.222 0 1 1-12.445 0 6.222 6.222 0 0 1 12.445 0zM8.112 23.857c.05-5.619 2.973-10.683 7.819-13.546a1 1 0 1 0-1.018-1.722c-5.374 3.175-8.747 9.019-8.802 15.25a1 1 0 0 0 .991 1.009h.009a1 1 0 0 0 1.001-.991z" />
    <path class="trinity__color{%if activeIndex===2%} is-active{%endif%}" fill="#1db0e7" d="M35.515 37.833a6.222 6.222 0 0 1-2.277-8.5 6.222 6.222 0 0 1 8.5-2.277 6.222 6.222 0 1 1-6.223 10.777zm5.381-12.985a1 1 0 0 0 .991-1.009c-.056-6.232-3.429-12.076-8.802-15.25a1 1 0 0 0-1.017 1.722c4.847 2.863 7.77 7.927 7.819 13.546a1 1 0 0 0 1 .991h.009z" />
    <path class="trinity__color{%if activeIndex===3%} is-active{%endif%}" fill="#ff8228" d="M6.263 27.056a6.223 6.223 0 1 1 6.223 10.778 6.223 6.223 0 0 1-6.223-10.778zm26.545 12.517a1 1 0 0 0-.986-1.74c-4.747 2.689-10.895 2.689-15.642 0a1 1 0 1 0-.986 1.74c2.674 1.515 5.719 2.315 8.807 2.315s6.132-.8 8.807-2.315z" />
</svg>
{% endmacro %}

{% macro trinityGraph() %}
<svg class="sg-trinity" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 576" width="576" height="576">
    <g class="sg-trinity__lines js-lines" fill="none" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10">
        <path d="M504.4 346c4.9-18.5 7.6-37.9 7.6-58 0-103.7-70.4-190.9-166-216.4" stroke="#1db0e7" />
        <path d="M129.6 446.4C170.1 486.9 226.1 512 288 512s117.9-25.1 158.4-65.6" stroke="#ff8228" />
        <path d="M230 71.6C134.4 97.1 64 184.3 64 288c0 20.1 2.7 39.5 7.6 58" stroke="#de3c8d" />
    </g>
    <g class="sg-trinity__circles js-circles">
        <circle cx="288" cy="64" r="48" fill="#de3c8d" />
        <circle cx="482" cy="400" r="48" fill="#1db0e7" />
        <circle cx="94" cy="400" r="48" fill="#ff8228" />
    </g>
    <g class="sg-trinity__icons js-icons" fill="#fff">
        <path d="M265.7 40.4c-.9-.9-.9-2.2 0-3.2s2.2-.9 3.1 0l1.8 1.8c.9.9.9 2.2 0 3.2s-2.2.9-3.1 0l-1.8-1.8zm44.8-3.2c-.9-.9-2.2-.9-3.1 0l-2.2 2c-.9.9-.9 2.2 0 3.2s2.2.9 3.1 0l2.2-2c.9-.9.9-2.3 0-3.2zm-2.3 26.1c1.4 1.4 2.2 2.9 2 5 0 3.2-2.2 5.4-5 6.3-1.4 4.9-2.2 8.6-5.6 13.1-3.1 3.8-7.6 5.8-11.9 5.8s-8.8-2-11.9-5.8c-3.4-4.7-4-8.1-5.6-13.1-2.5-1.1-4.7-3.2-4.7-6.3 0-1.8.9-3.6 2.2-5v-1.8c0-6.8 2-12.6 6.3-16.4 4.3-4 10.4-5.8 18.5-5.8h1.4l2.5 4.7c3.1.2 6.3 1.3 8.3 3.8 2.5 3.2 3.6 7.4 3.6 13.7l-.1 1.8zm-2.2 5c0-.9-.7-2-1.1-2.2l-1.1-.7v-3.8c0-5.6-.9-9-2.5-10.8-1.1-1.3-2.5-2-4.3-2.2-.5 2.5-1.8 4.3-3.6 5.2-2.2.9-4.3 1.1-6.3 1.3s-3.6.7-4.5 1.1c-.9.7-1.4 1.1-1.4 3.4 0 .6-.5 1.1-1.1 1.1h-2.2c-.6 0-1.1-.5-1.1-1.1 0-3.4 1.4-5.8 3.4-7.2 2-1.3 4.3-1.6 6.3-1.8s3.8-.5 4.7-.9 1.4-.7 1.4-2.7v-.2l-1.4-2.7c-6.5.2-11.2 1.8-14.2 4.5-3.1 2.7-4.7 7.2-4.7 13v3.8l-1.1.7c-.5.2-1.1 1.3-1.1 2.2s1.6 2.5 2.5 2.5l1.6.2.5 1.3c1.8 5.6 2.2 8.3 5.2 12.4 2.2 2.7 5.4 4.1 8.3 4.1s6.1-1.3 8.3-4.1c2.9-4.3 3.4-6.8 5.2-12.4l.3-1.3 1.6-.2c.8 0 2.4-1.6 2.4-2.5zm-42.3-20.7l-2-.7c-1.4-.5-2.5.2-2.9 1.3s.2 2.5 1.4 2.9l2 .7c1.1.5 2.5-.2 2.9-1.3.4-1.3-.3-2.5-1.4-2.9zm50.4 4.2l2-.7c1.1-.5 1.6-1.8 1.4-2.9-.5-1.1-1.6-1.8-2.9-1.3l-2 .7c-1.1.5-1.8 1.6-1.4 2.9s1.6 1.8 2.9 1.3zM261 57.2h-2.2c-1.1 0-2.2.9-2.2 2.2s1.1 2.2 2.2 2.2h2.2c1.4 0 2.2-.9 2.2-2.2s-.8-2.2-2.2-2.2zm56.2 0H315c-1.1 0-2.2.9-2.2 2.2s1.1 2.2 2.2 2.2h2.2c1.1 0 2.2-.9 2.2-2.2s-1-2.2-2.2-2.2zm-36 9c-1.2 0-2.2 1-2.2 2.2s1 2.2 2.2 2.2 2.2-1 2.2-2.2-.9-2.2-2.2-2.2zm13.6 0c-1.2 0-2.2 1-2.2 2.2s1 2.2 2.2 2.2 2.2-1 2.2-2.2-1-2.2-2.2-2.2zM288 82c2.5 0 4.5-2 4.5-4.5h-9c0 2.5 2 4.5 4.5 4.5z" />
        <path d="M486 420.8c0 1.2-1 2.2-2.2 2.2h-20.2c-2.5 0-4.5-2-4.5-4.5v-41c0-2.5 2-4.5 4.5-4.5h11.7c.9-2.6 3.4-4.5 6.3-4.5s5.4 1.9 6.3 4.5h11.7c2.5 0 4.5 2 4.5 4.5v25.2c0 1.2-1 2.2-2.2 2.2s-2.2-1-2.2-2.2v-25.2h-15.8v-2.2c0-1.2-1-2.2-2.2-2.2s-2.2 1-2.2 2.2v2.2h-15.8v41h20.2c1.1 0 2.1 1 2.1 2.3zm6.8-11.3h-4.5c0-3.8-3-6.8-6.8-6.8s-6.8 3-6.8 6.8h-4.5c0-3.9 2-7.3 5-9.3-1.7-1.6-2.7-3.9-2.7-6.4 0-4.9 4.1-9 9-9s9 4.1 9 9c0 2.5-1.1 4.8-2.7 6.4 3 2 5 5.4 5 9.3zm-6.8-15.7c0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5 2 4.5 4.5 4.5 4.5-2 4.5-4.5zm27 27c0 1.2-1 2.2-2.2 2.2-.1 0-.2 0-.3-.1-.2.9-.6 1.7-1 2.4.1.1.2.1.3.2.9.9.9 2.3 0 3.2-.4.4-1 .7-1.6.7s-1.2-.2-1.6-.7c-.1-.1-.1-.2-.2-.3-.7.4-1.5.8-2.4 1 0 .1.1.2.1.3 0 1.2-1 2.2-2.2 2.2s-2.2-1-2.2-2.2c0-.1 0-.2.1-.3-.9-.2-1.7-.6-2.4-1-.1.1-.1.2-.2.3-.4.4-1 .7-1.6.7s-1.2-.2-1.6-.7c-.9-.9-.9-2.3 0-3.2.1-.1.2-.1.3-.2-.4-.7-.8-1.5-1-2.4-.1 0-.2.1-.3.1-1.2 0-2.2-1-2.2-2.2s1-2.2 2.2-2.2c.1 0 .2 0 .3.1.2-.9.6-1.7 1-2.4-.1-.1-.2-.1-.3-.2-.9-.9-.9-2.3 0-3.2.4-.4 1-.7 1.6-.7s1.2.2 1.6.7c.1.1.1.2.2.3.7-.4 1.5-.8 2.4-1 0-.1-.1-.2-.1-.3 0-1.2 1-2.2 2.2-2.2s2.2 1 2.2 2.2c0 .1 0 .2-.1.3.9.2 1.7.6 2.4 1 .1-.1.1-.2.2-.3.4-.4 1-.7 1.6-.7s1.2.2 1.6.7c.9.9.9 2.3 0 3.2-.1.1-.2.1-.3.2.4.7.8 1.5 1 2.4.1 0 .2-.1.3-.1 1.2-.1 2.2.9 2.2 2.2zm-6.8 0c0-2.5-2-4.5-4.5-4.5s-4.5 2-4.5 4.5 2 4.5 4.5 4.5 4.5-2.1 4.5-4.5z" />
        <path d="M122.6 416.4l-9.2-9.5c2-3.4 3.2-7.4 3.2-11.5 0-12.4-10.1-22.5-22.5-22.5S71.6 383 71.6 395.4c0 4.3 1.1 8.1 3.2 11.5l-9 9.3c-.5.4-.9 1-.9 1.8 0 1.1.9 2.2 2.2 2.2h6.8v6.8c0 1.1.9 2.2 2.2 2.2.7 0 1.3-.3 1.7-.9L89 417.2c1.6.5 3.4.7 5.2.7s3.4-.2 5.2-.7l11 11.2c.4.4 1 .7 1.7.7 1.3 0 2.2-.9 2.2-2.2v-6.6l.1-.2h6.7c1.3 0 2.2-1.1 2.2-2.2 0-.5-.3-1.1-.7-1.5zm-44.2 5.2l-.1-3.6c0-1.4-.9-2.2-2.2-2.2h-3.5l5.2-5c1.8 2 4.1 3.8 6.8 5l-6.2 5.8zm15.7-8.1c-9.9 0-18-8.1-18-18s8.1-18 18-18 18 8.1 18 18-8.1 18-18 18zm16.4-2.7l5 5H112c-1.3 0-2.2.9-2.2 2.2v3.5l-5.8-5.8c2.5-1.3 4.7-2.9 6.5-4.9zm-9.7-6.3c0 1.4-.9 2.2-2.2 2.2h-9c-1.1 0-2.2-.9-2.2-2.2 0-1.1.9-2.2 2.2-2.2h2.2v-12.4l-2.2 2.2c-.4.5-.9.7-1.6.7-1.1 0-2-.7-2-1.8 0-.7.2-1.4.9-1.8l3.2-2.9c1.6-1.4 2.2-2 3.8-2s2.5.9 2.5 2.5v15.5h2.2c1-.1 2.2.8 2.2 2.2z" />
    </g>
</svg>
{% endmacro %}




{% macro heroTabletMobIcon1() %}
<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve">
<circle fill="#DE3C8D" cx="48" cy="48" r="48"/>
<path fill="#FFFFFF" d="M25.7,24.9c-0.9-0.9-0.9-2.3,0-3.1s2.3-0.9,3.1,0l1.8,1.8c0.9,0.9,0.9,2.3,0,3.1s-2.3,0.9-3.1,0L25.7,24.9z
     M70.5,21.8c-0.9-0.9-2.3-0.9-3.2,0l-2.3,2c-0.9,0.9-0.9,2.3,0,3.1s2.3,0.9,3.2,0l2.3-2C71.4,24,71.4,22.6,70.5,21.8z M68.3,47.8
    c1.3,1.3,2.3,2.9,2,5c0,3.2-2.3,5.4-4.9,6.3c-1.3,4.9-2.3,8.6-5.6,13.1C56.5,76,52,78,47.8,78s-8.8-2-11.9-5.8
    c-3.4-4.7-4-8.1-5.6-13c-2.5-1.1-4.7-3.2-4.7-6.3c0-1.8,0.9-3.6,2.3-5v-1.8c0-6.8,2-12.6,6.3-16.4c4.3-4,10.4-5.9,18.5-5.9h1.3
    l2.5,4.7c3.2,0.2,6.3,1.4,8.3,3.8c2.5,3.2,3.6,7.4,3.6,13.7C68.2,46.1,68.2,47.8,68.3,47.8z M66,52.8c0-0.9-0.7-2-1.1-2.3l-1.1-0.7
    V46c0-5.6-0.9-9-2.5-10.8c-1.1-1.3-2.5-2-4.3-2.3c-0.5,2.5-1.8,4.3-3.6,5.2c-2.3,0.9-4.3,1.1-6.3,1.3c-2,0.2-3.6,0.7-4.5,1.1
    c-0.9,0.7-1.3,1.1-1.3,3.4c0,0.6-0.5,1.1-1.1,1.1h-2.3c-0.6,0-1.1-0.5-1.1-1.1c0-3.4,1.3-5.8,3.4-7.2c2-1.3,4.3-1.6,6.3-1.8
    c2-0.2,3.8-0.5,4.7-0.9c0.9-0.5,1.3-0.7,1.3-2.7v-0.2l-1.3-2.7C44.6,28.7,39.9,30.3,37,33c-3.2,2.7-4.7,7.2-4.7,13v3.8l-1.1,0.7
    c-0.5,0.2-1.1,1.4-1.1,2.3c0,0.9,1.6,2.5,2.5,2.5l1.6,0.2l0.5,1.3c1.8,5.6,2.3,8.3,5.2,12.4c2.3,2.7,5.4,4.1,8.3,4.1
    s6.1-1.3,8.3-4.1c2.9-4.3,3.4-6.8,5.2-12.4l0.5-1.3l1.6-0.2C64.4,55.3,66,53.7,66,52.8z M23.7,32.1l-2-0.7c-1.4-0.5-2.5,0.2-2.9,1.3
    c-0.4,1.1,0.2,2.5,1.4,2.9l2,0.7c1.1,0.5,2.5-0.2,2.9-1.3C25.5,33.7,24.8,32.5,23.7,32.1z M74.1,36.4l2-0.7c1.1-0.5,1.6-1.8,1.3-2.9
    c-0.4-1.1-1.6-1.8-2.9-1.4l-2,0.7c-1.1,0.5-1.8,1.6-1.3,2.9S72.8,36.8,74.1,36.4z M21,41.8h-2.3c-1.1,0-2.3,0.9-2.3,2.3
    s1.1,2.3,2.3,2.3H21c1.4,0,2.3-0.9,2.3-2.3S22.4,41.8,21,41.8z M77.3,41.8H75c-1.1,0-2.3,0.9-2.3,2.3s1.1,2.3,2.3,2.3h2.3
    c1.1,0,2.3-0.9,2.3-2.3S78.4,41.8,77.3,41.8z M41.3,50.8c-1.2,0-2.3,1-2.3,2.3s1,2.3,2.3,2.3s2.3-1,2.3-2.3S42.5,50.8,41.3,50.8z
     M54.8,50.8c-1.2,0-2.3,1-2.3,2.3s1,2.3,2.3,2.3s2.3-1,2.3-2.3S56,50.8,54.8,50.8z M48,66.5c2.5,0,4.5-2,4.5-4.5h-9
    C43.5,64.5,45.5,66.5,48,66.5z"/>
</svg>

{% endmacro %}

{% macro heroTabletMobIcon2() %}
<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Ebene_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve">
<circle fill="#1DB0E7" cx="48" cy="48" r="48"/>
<path fill="#FFFFFF" d="M52,68.8c0,1.2-1,2.3-2.3,2.3H29.5C27,71,25,69,25,66.5v-41c0-2.5,2-4.5,4.5-4.5h11.7
    c0.9-2.6,3.4-4.5,6.3-4.5s5.4,1.9,6.3,4.5h11.7c2.5,0,4.5,2,4.5,4.5v25.3c0,1.2-1,2.3-2.3,2.3s-2.3-1-2.3-2.3V25.5H49.8v-2.3
    c0-1.2-1-2.3-2.3-2.3s-2.3,1-2.3,2.3v2.3H29.5v41h20.3C51,66.5,52,67.5,52,68.8z M58.8,57.5h-4.5c0-3.8-3-6.8-6.8-6.8
    s-6.8,3-6.8,6.8h-4.5c0-3.9,2-7.3,5-9.3c-1.7-1.6-2.7-3.9-2.7-6.4c0-4.9,4.1-9,9-9s9,4.1,9,9c0,2.5-1.1,4.8-2.7,6.4
    C56.8,50.2,58.8,53.6,58.8,57.5z M52,41.8c0-2.5-2-4.5-4.5-4.5s-4.5,2-4.5,4.5s2,4.5,4.5,4.5S52,44.3,52,41.8z M79,68.8
    c0,1.2-1,2.3-2.3,2.3c-0.1,0-0.2,0-0.3-0.1c-0.2,0.9-0.6,1.7-1,2.4c0.1,0.1,0.2,0.1,0.3,0.2c0.9,0.9,0.9,2.3,0,3.2
    c-0.4,0.4-1,0.7-1.6,0.7s-1.2-0.2-1.6-0.7c-0.1-0.1-0.1-0.2-0.2-0.3c-0.7,0.4-1.6,0.8-2.4,1c0,0.1,0.1,0.2,0.1,0.3
    c0,1.2-1,2.3-2.3,2.3s-2.3-1-2.3-2.3c0-0.1,0-0.2,0.1-0.3c-0.9-0.2-1.7-0.6-2.4-1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.4,0.4-1,0.7-1.6,0.7
    s-1.2-0.2-1.6-0.7c-0.9-0.9-0.9-2.3,0-3.2c0.1-0.1,0.2-0.1,0.3-0.2c-0.4-0.7-0.8-1.6-1-2.4c-0.1,0-0.2,0.1-0.3,0.1
    c-1.2,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3c0.1,0,0.2,0,0.3,0.1c0.2-0.9,0.6-1.7,1-2.4c-0.1-0.1-0.2-0.1-0.3-0.2c-0.9-0.9-0.9-2.3,0-3.2
    c0.4-0.4,1-0.7,1.6-0.7s1.2,0.2,1.6,0.7c0.1,0.1,0.1,0.2,0.2,0.3c0.7-0.4,1.6-0.8,2.4-1c0-0.1-0.1-0.2-0.1-0.3c0-1.2,1-2.3,2.3-2.3
    s2.2,1,2.2,2.3c0,0.1,0,0.2-0.1,0.3c0.9,0.2,1.7,0.6,2.4,1c0.1-0.1,0.1-0.2,0.2-0.3c0.4-0.4,1-0.7,1.6-0.7s1.2,0.2,1.6,0.7
    c0.9,0.9,0.9,2.3,0,3.2c-0.1,0.1-0.2,0.1-0.3,0.2c0.4,0.7,0.8,1.6,1,2.4c0.1,0,0.2-0.1,0.3-0.1C78,66.5,79,67.5,79,68.8z M72.3,68.8
    c0-2.5-2-4.5-4.5-4.5s-4.5,2-4.5,4.5s2,4.5,4.5,4.5S72.3,71.2,72.3,68.8z"/>
</svg>

{% endmacro %}

{% macro heroTabletMobIcon3() %}
<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" id="Ebene_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve">
<circle fill="#FF8228" cx="48" cy="48" r="48"/>
<path fill="#FFFFFF" d="M76.6,63.5L76.6,63.5L67.4,54c2-3.4,3.1-7.4,3.1-11.5C70.6,30.1,60.5,20,48.1,20S25.6,30.1,25.6,42.5
    c0,4.3,1.1,8.1,3.1,11.5l-9,9.3c-0.5,0.4-0.9,1-0.9,1.8c0,1.1,0.9,2.3,2.3,2.3h6.8V74c0,1.1,0.9,2.3,2.3,2.3c0.7,0,1.3-0.3,1.7-0.9
    l0,0l11.2-11.1c1.6,0.4,3.4,0.7,5.2,0.7c1.8,0,3.4-0.2,5.2-0.7l11,11.3l0,0c0.4,0.4,1,0.7,1.7,0.7c1.4,0,2.3-0.9,2.3-2.3v-6.6
    l0.1-0.2H75c1.4,0,2.3-1.1,2.3-2.3C77.3,64.4,77,63.8,76.6,63.5z M32.3,68.6L32.3,68.6L32.3,65c0-1.3-0.9-2.2-2.3-2.2h-3.5l0,0
    l5.2-5c1.8,2,4,3.8,6.8,5L32.3,68.6z M48.1,60.5c-9.9,0-18-8.1-18-18s8.1-18,18-18s18,8.1,18,18C66.1,52.4,58,60.5,48.1,60.5z
     M64.5,57.8l5,5H66c-1.3,0-2.2,0.9-2.2,2.3v3.5L58,62.7C60.5,61.4,62.7,59.8,64.5,57.8z M54.8,51.5c0,1.3-0.9,2.3-2.3,2.3h-9
    c-1.1,0-2.3-0.9-2.3-2.3c0-1.1,0.9-2.3,2.3-2.3h2.3V36.9l-2.3,2.3c-0.5,0.5-0.9,0.7-1.6,0.7c-1.1,0-2-0.7-2-1.8
    c0-0.7,0.2-1.3,0.9-1.8l3.2-2.9c1.6-1.4,2.3-2,3.8-2s2.5,0.9,2.5,2.5v15.5h2.3C53.6,49.3,54.8,50.2,54.8,51.5z"/>
</svg>

{% endmacro %}
