{% set modules = [
    {
        icon: 'img/icon-multiposting.svg',
        headline: 'Softgarden <br /> Empfehlungsmanager',
        text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
        link: 'Mehr erfahren',
        img: './img/prices-module-1.png',
        mobtabtext: 'Multiposting',
        mobtabactive: true,
        color: '#1DB0E7'
    },
    {
        icon: 'img/icon-feedback-solution.svg',
        headline: 'Feedback Solution',
        text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
        link: 'Mehr erfahren',
        img: './img/prices-module-2.png',
        mobtabtext: 'Talent Network',
        color: '#FF8228'
    },
    {
        icon: 'img/icon-recruiting-app.svg',
        headline: 'Easy Mobile Application',
        text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
        link: 'Mehr erfahren',
        img: './img/prices-module-3.png',
        mobtabtext: 'Empfehlungsmanager',
        color: '#DE3C8D'
    },
    {
        icon: 'img/icon-bewerbermanagement.svg',
        headline: 'Video-Bewerbung',
        text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
        link: 'Mehr erfahren',
        img: './img/prices-module-4.png',
        mobtabtext: 'Empfehlungsmanager',
        color: '#DE3C8D'
    }
] %}

<!-- begin sg-price-modules -->
	<div class="sg-price-modules">
		
		<div class="sg-headline sg-headline_sm">
			<div class="sg-l">
				<div class="sg-headline__in">
					<h2 class="sg-headline__title">Individuelle Module</h2>
					<h4 class="sg-headline__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</h4>
				</div>
			</div>
		</div>

		<div class="sg-prod-list sg-prod-list_row">

			<div class="sg-l">
				
				<div class="sg-prod-list__in">
					{% for item in modules %}
					
						<!-- begin sg-prod -->
		                    <div class="sg-prod sg-prod_column">
		                        <div class="sg-prod__in">

		                        	<div class="sg-prod__img">
		                                <div class="sg-prod-img sg-prod-img_plain">
		                                    <img src="{{ item.img }}" alt="">
		                                </div>
		                            </div>

		                            <div class="sg-prod__info">
		                                <div class="sg-prod-info sg-prod-info_sm">
		                                	<div class="sg-prod-info__headline">
			                                	<div class="sg-prod-info__icon sg-rect-icon" style="color:{{item.color}}">
			                                        <img src="{{ item.icon }}" alt="">
			                                    </div>
			                                    <h3 class="sg-prod-info__title">{{ item.headline | safe }}</h3>	
		                                	</div>
		                                    <div class="sg-prod-info__text">{{ item.text | safe }}</div>
		                                    <a href="" class="sg-prod-info__link sg-link" style="color:{{item.color}}"><span>{{ item.link | safe }}</span></a>
		                                </div>
		                            </div>

		                        </div>
		                    </div>
		                    <!-- end sg-prod -->
					{% endfor %}
				</div>

			</div>	

		</div>
	</div>
<!-- end sg-price-modules -->