{% set boxes = [
	{
		package: 'S',
		title: '5 Jobs',
		subtitle: 'parallel',
		textual: {
			text: 'Unbegrenzte Benutzer'
		},
		price: '145',
		per: 'pro Monat*'
	},
	{
		package: 'M',
		title: '10 Jobs',
		subtitle: 'parallel',
		textual: {
			text: 'Unbegrenzte Benutzer'
		},
		price: '249',
		per: 'pro Monat*'
	},
	{
		mainTitle: 'am beliebtesten',
		package: 'L',
		title: '15 Jobs',
		subtitle: 'parallel',
		textual: {
			text: 'Unbegrenzte Benutzer'
		},
		price: '395',
		per: 'pro Monat*'
	},
	{
		package: 'XL',
		title: '30 Jobs',
		subtitle: 'parallel',
		textual: {
			text: 'Unbegrenzte Benutzer'
		},
		price: '495',
		per: 'pro Monat*'
	},
	{
		package: 'Enterprise',
		title: 'unlimitierte',
		subtitle: 'Jobausschreibungen',
		textual: {
			text: 'Unbegrenzte Benutzer',
			primary: 'für Unternehmen mit mehr als 300 Mitarbeiter',
			link: 'Mandantenfähigkeit',
			bottom: 'Preis auf Anfrage'
		}
	}
] %}

<!-- begin sg-price-table -->
	<div class="sg-price-table">
	
		<div class="sg-l">

			<div class="sg-price-table__headline">
				<h2 class="sg-title sg-title_white sg-price-table__title">Recruiting &amp; Bewerbermanagement Solution</h2>
				<div class="sg-price-table__textual">
					Alle Pakete beinhalten die Recruiting-App und das Multiposting.
					<a href="#features" class="sg-scroll-link sg-scroll-link_olive js-scroll-to">
						<span class="sg-scroll-link__text">Alle Funktionen entdecken</span>
					</a>
				</div>
			</div>

			<div class="sg-price-table__boxes-wrapp" data-tooltip-wrapp="true">
				{% set centerIndex =  ( boxes | length / 2) | round %}

				{% for item in boxes %}

				<div class="sg-table-box{% if centerIndex === loop.index %} sg-table-box_size-lg{% endif %} sg-price-table__box">
					<div class="sg-table-box__in">
						{% if item.mainTitle %}
						<h3 class="sg-table-box__headline">{{ item.mainTitle }}</h3>
						{% endif %}

						<div class="sg-table-box__content">

							<div class="sg-table-box__head">
								<div class="sg-table-box__package{% if loop.index === loop.length %} sg-table-box__package_font-sm{% endif %}">
									{{ item.package }}
								</div>
								<div class="sg-table-box__title">
									{{ item.title }}
								</div>
								<div class="sg-table-box__subtitle">
									{{ item.subtitle }}
								</div>
							</div>

							<div class="sg-table-box__textual">
								{% if item.textual.text %}
								<p>
									{{ item.textual.text }}
								</p>
								{% endif %}
								{% if item.textual.primary %}
								<p class="primary">
									{{ item.textual.primary }}
								</p>
								{% endif %}
								{% if item.textual.link %}
								<p>
									<span class="sg-table-box__tooltip-item" data-tooltip-item="true">
										<span class="sg-table-box__tooltip-link" data-tooltip-heading="true" href="#">
											{{ item.textual.link }}
											<span class="sg-table-box__tooltip-icon">?</span>
										</span>
										<span class="sg-table-box__tooltip" data-tooltip-text="true" >
											<span class="sq-tooltip">
												<span class="sq-tooltip__title">CV-Parsing / XING & LinkedIn integration</span>
												<span class="sq-tooltip__text">
													Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen. Manchmal Sätze, die alle Buchstaben des Alphabets enthalten – man nennt diese Sätze »Pangrams«.
												</span>
											</span>
										</span>
									</span>	
								</p>
								{% endif %}
							</div>
							
						</div>

						<div class="sg-table-box__footer">
							{% if item.price %}
							<div class="sg-table-box__cost">
								<span class="sg-table-box__price">{{ item.price }} &euro;</span>
								{{ item.per }}
							</div>
							{% endif %}
							{% if item.textual.bottom %}
							<div class="sg-table-box__textual">
								<p class="dark">
									{{ item.textual.bottom }}
								</p>	
							</div>
							{% endif %}
							<a href="#contacts" class="sg-button sg-button_link js-scroll-to">Kontakt</a>
						</div>

					</div>
				</div>

				{% endfor %}
			</div>

			<div class="sg-price-table__meta">
				<p>
					* Die Preise gelten für jährliche Zahlweise. Alle Preise zzgl. gesetzlicher Mehrwertsteuer.
				</p>
			</div>

		</div>

	</div>
<!-- end sg-price-table -->