{%
	set filters = [
		{
			title: 'Alle <br /> Funktionen',
			sortBy: '*',
			color: '#263f4a'
		},
		{
			title: 'Einzigartige <br /> Bewerberauswahl',
			sortBy: '.bewerberauswahl ',
			color: '#1DB0E7'
		},
		{
			title: 'Effizientes <br /> Bewerbermanagement',
			sortBy: '.bewerbermanagement',
			color: '#ff8228'
		},
		{
			title: 'Ausgezeichneter <br /> Arbeitgeberauftritt',
			sortBy: '.arbeitgeberauftritt',
			color: '#e430a3'
		}
	]
%}

{%
	set functions = [
		{
			title: 'Bewerbermanagement',
			icon: 'img/icon-multiposting.svg',
			check: 'img/check-blue.svg',
			color: '#1DB0E7',
			filterClass: 'bewerberauswahl',
			items: [
				'Conversion optimiertes Bewerbungsformular',
				'CV-Parsing / Xing & LinkedIn integration',
				'Kollaboratives Bewerbermanagement',
				'Individualisierbare Workflows',
				'Verfügbarkeit in 9 Sprachen',
				'Eigener Talent Pool',
				'Bewerber kommentieren und Bewerten',
				'Scorecard zur Bewertung von Bewerbern',
				'Terminkoordination',
				'Personalanforderungbogen',
				'Standartrollen & Rollenkonfigurator',
				'Mandantenfähig',
				'Reporting'
			]
		},
        {
            title: 'Recruiting App',
            icon: 'img/icon-multiposting.svg',
            color: '#1DB0E7',
            check: 'img/check-blue.svg',
            filterClass: 'bewerberauswahl',
            items: [
                'App für Fach- und Führungskräfte',
                'Alle Bewerberdaten verfügbar',
                'Vereinfachter Abstimmungsprozess',
                'Teamchat',
                'Vollsychronisation der Daten',
                'Online & Offline verfügbar'
            ]
        },
		{
			title: 'Multiposting',
			icon: 'img/icon-feedback-solution.svg',
			color: '#ff8228',
			check: 'img/check-orange.svg',
			filterClass: 'bewerbermanagement',
			items: [
				'6 Anzeigenportale + Xing kostenfrei verfügbar',
				'Social Media Postings',
				'Multiposting auf über 160 Premium Jobbörsen',
				'Warenkorb mit vergünstigten Anzeigenkonditionen',
				'Rabattierte Anzeigenpakete & Kontingente',
				'Individuelle Beratung',
				'Einbuchungsservice'
			]
		},
        {
            title: 'Stellenanzeigen & Karriereseite',
            icon: 'img/icon-feedback-solution.svg',
            color: '#ff8228',
            check: 'img/check-orange.svg',
            filterClass: 'bewerbermanagement',
            items: [
                'Stellenanzeigenkonfigurator',
                'Karriereseitenkonfigurator',
                'Maps-Integration',
                'Einfache Implementierung durch iFrame Einbindung'
            ]
        },
		{
			title: 'Talent Network',
			icon: 'img/icon-bewerbermanagement.svg',
			color: '#e430a3',
			check: 'img/check-pink.svg',
			filterClass: 'arbeitgeberauftritt',
			items: [
				'Active Sourcing Modul',
				'Stets aktueller Pool aktiv suchernder Kandidaten',
				'Durchsuchbarkeit',
				'Talente zu einer Bewerbung einladen'
			]
		},
        {
            title: 'Easy Mobile Application',
            icon: 'img/icon-bewerbermanagement.svg',
            color: '#e430a3',
            check: 'img/check-pink.svg',
            filterClass: 'arbeitgeberauftritt',
            items: [
                'Stellenausschreibungen am Unternehmensstandort',
                'QR-Code Generator',
                'Erfolgsmessung nach Standorten'
            ]
        },
        {
            title: 'Feedback Solution',
            icon: 'img/icon-bewerbermanagement.svg',
            color: '#e430a3',
            check: 'img/check-pink.svg',
            filterClass: 'arbeitgeberauftritt',
            items: [
                'Automatisierte Abfrage von Kandidatenfeedback',
                'Feedback-Integration auf Karriereseite und Stellenanzeigen',
                'Verfiziertes Feedback auf Arbeitgeberbewertungsplattformen veröffentlichen'
            ]
        },
		{
			title: 'Service',
			icon: 'img/icon-bewerbermanagement.svg',
			color: '#e430a3',
			check: 'img/check-pink.svg',
			filterClass: 'arbeitgeberauftritt',
			items: [
				'Telefonischer Support',
				'E-Mail- & Chat-Support',
				'Premium Onboarding'
			]
		},
        {
            title: 'Empfehlungsmanager',
            icon: 'img/icon-bewerbermanagement.svg',
            color: '#e430a3',
            check: 'img/check-pink.svg',
            filterClass: 'arbeitgeberauftritt',
            items: [
                'Mitarbeiter werben Mitarbeiter Programm',
                'Individuelle Prämie für jede'
            ]
        }
	]
%}

<!-- begin sq-price-functions -->
	<div id="features" class="sq-price-functions">

		<div class="sq-price-functions__headline">
			<div class="sg-l">
				<h2 class="sg-title">Komplette Funktionsübersicht</h2>
			</div>
		</div>

		<div class="sq-price-functions__filters">
	        <div class="sg-l">
	            <!-- begin sg-filters -->
	            <div class="sg-filters sg-mobtabs sg-filters_mod swiper-container js-filters" data-iso-filter="iso">
	            	<div class="sg-filters__wrapper swiper-wrapper js-filters-track">
		            	{% for item in filters %}
	                    <a
	                    	href="#"
	                    	class="sg-filters__item swiper-slide{% if loop.index === 1 %} is-active{% endif %} js-iso-filter-btn"
	                    	data-sort-by="{{ item.sortBy }}"
	                    	style="color: {{ item.color }};"
	                    >
	                		<span>{{ item.title | safe }}</span>
	                	</a>
	                    {% endfor %}
	            	</div>
	            </div>
	            <!-- end sg-filters -->
	        </div>
	    </div>

	    <div class="sq-price-functions__functions">
	    	<div class="sq-functions">
	    		<div class="sg-l">
	    			<div class="sq-functions__wrapp js-isotope" data-filter="iso" data-tooltip-wrapp="true">
	    				<div class="sq-functions__gutter js-isotope-gutter"></div>
	    				{% for item in functions %}
						<div class="sq-functions__item js-isotope-item {{ item.filterClass }}">
							<div class="sq-function-item" style="color: {{ item.color  }}">
								<div class="sq-function-item__headline">
									<div class="sq-function-item__icon">
										<img src="{{ item.icon }}" alt="" />
									</div>
									<h3 class="sq-function-item__title">{{ item.title | safe }}</h3>
								</div>
								<ul class="sq-function-list">
									{% for listItem in item.items %}
									<li class="sq-function-list__item" data-tooltip-item="true" >
										<span class="sq-function-list__icon">
											<img src="{{ item.check }}" alt="" />
										</span>
										<div class="sq-function-list__title" data-tooltip-heading="true" >
											<span class="sq-function-list__text">
												<span>{{ listItem }}</span>
											</span>
										</div>
										<span class="sq-function-list__tooltip" data-tooltip-text="true" >
											<span class="sq-tooltip">
												<span class="sq-tooltip__title">CV-Parsing / XING & LinkedIn integration</span>
												<span class="sq-tooltip__text">
													Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen. Manchmal Sätze, die alle Buchstaben des Alphabets enthalten – man nennt diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps over the lazy old dog.
												</span>
											</span>
										</span>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
	    				{% endfor %}
	    			</div>
	    		</div>
	    	</div>
	    </div>

	</div>
<!-- end sq-price-functions -->
