{% set categories = [
        {
            text: 'Einmalige',
            link: 'Bewerberauswahl',
            color: firstColor,
            anchors: [
                {
                    text: 'Multiposting',
                    href: 'product-1-1',
                    active: true
                },
                {
                    text: 'Talent Network',
                    href: 'product-1-2'
                },
                {
                    text: 'Empfehlungsmanager',
                    href: 'product-1-3'
                }
            ],
            active: true
        },
        {
            text: 'Effizientes',
            link: 'Bewerbermanagement',
            color: secondColor,
            anchors: [
                {
                    text: 'Digitales Bewerbermanagement',
                    href: 'product-2-1',
                    active: true
                },
                {
                    text: 'Recruiting App',
                    href: 'product-2-2'
                }
            ]
        },
        {
            text: 'Ausgezeichnete',
            link: 'Arbeitgeber-Reputation',
            color: thirdColor,
            anchors: [
                {
                    text: 'Feedback Solution',
                    href: 'product-3-1',
                    active: true
                },
                {
                    text: 'Stellenanzeigen & Karriereseite',
                    href: 'product-3-2'
                }
            ]
        }
    ]
%}


<div class="sg-product-nav js-product-nav">
    <div class="sg-l">
        <div class="sg-product-nav__in">
            <div class="sg-product-nav__dropdown">
                <div class="sg-dropdown js-dropdown">
                    <div class="sg-dropdown__in">
                        <div class="sg-dropdown__trigger">
                            <button class="sg-trinity-btn js-dropdown-trigger">
                                <span class="sg-trinity-btn__graph">{{ mixins.trinityIcon() }}</span>
                                <span class="sg-trinity-btn__in">
                                    <a href="#" class="sg-cat">
                                        <span class="sg-cat__text">{{ categories[0].text | safe }}</span>
                                        <span class="sg-cat__link" style="color: {{ categories[0].color }}">{{ categories[0].link | safe }}</span>
                                    </a>
                                    {{ mixins.icon('arrow-trinity') }}
                                </span>
                            </button>
                        </div>
                        <ul class="sg-dropdown__list js-dropdown-list">
                            {% for c in categories %}
                            <li class="sg-dropdown__item">
                                <a href="#{{ c.link }}" class="sg-cat{%if c.active%} is-active{%endif%}">
                                    <span class="sg-cat__text">{{ c.text | safe }}</span>
                                    <span class="sg-cat__link" style="color: {{ c.color }}">{{ c.link | safe }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="sg-product-nav__anchors">
                {% for c in categories %}
                <div class="sg-anchors js-anchors{%if c.active%} is-active{%endif%}">
                    {% for a in c.anchors %}
                    <a href="#{{ a.href }}" class="sg-anchor sg-line js-anchor{%if a.active%} is-active{%endif%}" style="color: {{ c.color }}">
                        <span class="sg-anchor__text">{{ a.text | safe }}</span>
                    </a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
