{% set products = [
        {
            id: 'Bewerberauswahl',
            color: firstColor,
            title: 'Einmalige Bewerberauswahl',
            subtitle: 'Nie war die Time-to-Hire kürzer!',
            list: [
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-01.jpg',
                    id: 'product-1-1',
                    mobtabtext: 'Multiposting',
                    mobtabactive: true
                },
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-02.jpg',
                    id: 'product-1-2',
                    mobtabtext: 'Talent Network'
                },
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-03.jpg',
                    id: 'product-1-3',
                    mobtabtext: 'Empfehlungsmanager'
                }
            ]
        },
        {
            id: 'Bewerbermanagement',
            color: secondColor,
            title: 'Effizientes Bewerbermanagement',
            subtitle: 'Nie war die Time-to-Hire kürzer!',
            list: [
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-04.jpg',
                    id: 'product-2-1',
                    mobtabtext: 'Digitales Bewerbermanagement',
                    mobtabactive: true
                },
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-05.jpg',
                    id: 'product-2-2',
                    mobtabtext: 'Recruiting App'
                }
            ]
        },
        {
            id: 'Arbeitgeber-Reputation',
            color: thirdColor,
            title: 'Ausgezeichnete Arbeitgeber-Reputation',
            subtitle: 'Nie war die Time-to-Hire kürzer!',
            list: [
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-06.jpg',
                    id: 'product-3-1',
                    mobtabtext: 'Feedback Solution',
                    mobtabactive: true
                },
                {
                    icon: 'img/product-dummy.svg',
                    headline: 'Kanalübergreifendes<br>Multiposting',
                    text: 'Mithilfe moderner Technologien und individueller Beratung platzieren Sie Ihre Anzeigen passgenau und aufmerksamkeitsstark. Und zwar genau dort, wo Ihre Wunschkandidaten suchen.',
                    link: 'Mehr erfahren',
                    img: 'img/dummy/dummy-product-screen-07.jpg',
                    id: 'product-3-2',
                    mobtabtext: 'Stellenanzeigen & Karriereseite'
                }
            ]
        }
    ]
%}

{% for p in products %}
<div class="sg-prod-section js-container" id="{{ p.id }}">
    <!-- begin sg-headline -->
    <div class="sg-headline">
        <div class="sg-l">
            <div class="sg-headline__in">
                <div class="sg-headline__graph">
                    {{ mixins.trinityIcon(loop.index) }}
                </div>
                <h2 class="sg-headline__title">{{ p.title | safe }}</h2>
                <h4 class="sg-headline__subtitle" style="color:{{p.color}}">{{ p.subtitle | safe }}</h4>
            </div>
        </div>
    </div>
    <!-- end sg-headline -->

    <!-- begin sg-prod-tabs -->
    <div class="sg-mobtabs swiper-container js-mobtabs">
        <div class="swiper-wrapper js-mobtabs-track">
            {% for i in p.list %}
            <div class="swiper-slide">
                <a href="#{{ a.href }}" class="sg-mobtab sg-line{%if i.mobtabactive%} is-active{%endif%}" style="color: {{ p.color }}">
                    <span class="sg-mobtab__text">{{ i.mobtabtext | safe }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- end sg-prod-tabs -->

    <!-- begin sg-prod-list -->
    <div class="sg-prod-list js-section">
        <div class="sg-l">
            <div class="sg-prod-list__in swiper-container js-products">
                <div class="swiper-wrapper">
                    {% for i in p.list %}
                    <!-- begin sg-prod -->
                    <div class="sg-prod{%if p.inverse%} sg-prod_inverse{%endif%} swiper-slide js-product" id="{{ i.id }}">
                        <div class="sg-prod__in">
                            {% if p.inverse %}
                            <div class="sg-prod__img">
                                <div class="sg-prod-img{%if p.inverse%} sg-prod-img_inverse{%endif%} js-pic">
                                    <!-- {{ loop.index }} -->
                                    <img src="{{ i.img }}" alt="">
                                </div>
                            </div>

                            <div class="sg-prod__info">
                                <div class="sg-prod-info">
                                    <div class="sg-prod-info__icon sg-rect-icon" style="color:{{p.color}}">
                                        <img src="{{ i.icon }}" alt="">
                                    </div>
                                    <h3 class="sg-prod-info__title">{{ i.headline | safe }}</h3>
                                    <div class="sg-prod-info__text">{{ i.text | safe }}</div>
                                    <a href="" class="sg-prod-info__link sg-link" style="color:{{p.color}}"><span>{{ i.link | safe }}</span></a>
                                </div>
                            </div>
                            {% else %}
                            <div class="sg-prod__info">
                                <div class="sg-prod-info">
                                    <div class="sg-prod-info__icon sg-rect-icon" style="color:{{p.color}}">
                                        <img src="{{ i.icon }}" alt="">
                                    </div>
                                    <h3 class="sg-prod-info__title">{{ i.headline | safe }}</h3>
                                    <div class="sg-prod-info__text">{{ i.text | safe }}</div>
                                    <a href="" class="sg-prod-info__link sg-link" style="color:{{p.color}}"><span>{{ i.link | safe }}</span></a>
                                </div>
                            </div>

                            <div class="sg-prod__img">
                                <div class="sg-prod-img js-pic">
                                    <!-- {{ loop.index }} -->
                                    <img src="{{ i.img }}" alt="">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end sg-prod -->
                {% endfor %}
                </div>
                <div class="sg-prod-list__pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- end sg-prod-list -->
</div>
{% endfor %}
