{% set filters = [
        {
            text: 'Start'
        },
        {
            text: 'Handel'
        },
        {
            text: 'Gesundheit'
        },
        {
            text: 'Mobilität'
        },
        {
            text: 'IT/Kommunikation'
        },
        {
            text: 'Dienstleistungen'
        }
    ]
%}


{% set references = [
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-serviceplan.svg',
                    logo_mono: 'img/client-logo-serviceplan-mono.svg'
                }
            ]
        },
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                }
            ]
        },
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-serviceplan.svg',
                    logo_mono: 'img/client-logo-serviceplan-mono.svg'
                }
            ]
        },
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-serviceplan.svg',
                    logo_mono: 'img/client-logo-serviceplan-mono.svg'
                }
            ]
        },
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-serviceplan.svg',
                    logo_mono: 'img/client-logo-serviceplan-mono.svg'
                }
            ]
        },
        {
            img: 'img/quote-author-img-01.jpg',
            name: 'Thomas Heelein',
            position: 'VP HR Systems & Processes Fresenius SE & Co KGaA',
            text: '<q>Im heutigen War for Talents muss ich schneller sein als mein Wettbewerber. Mit der softgarden App kann ich selbst unterwegs in kürzester Zeit Bewerber screenen und Entscheidungen treffen. Ich bin überzeugt, das sichert uns als einen signifikanten Wettbewerbsvorteil.</q>',
            clients: [
                {
                    logo_color: 'img/client-logo-eventim.svg',
                    logo_mono: 'img/client-logo-eventim-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-fresenius.svg',
                    logo_mono: 'img/client-logo-fresenius-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-agaplesion.svg',
                    logo_mono: 'img/client-logo-agaplesion-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-hoeffner.svg',
                    logo_mono: 'img/client-logo-hoeffner-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-der-tagesspiegel.svg',
                    logo_mono: 'img/client-logo-der-tagesspiegel-mono.svg'
                },
                {
                    logo_color: 'img/client-logo-serviceplan.svg',
                    logo_mono: 'img/client-logo-serviceplan-mono.svg'
                }
            ]
        }
    ]
%}

<div class="sg-tabslider">
    <div class="sg-tabslider__filters">
        <div class="sg-l">
            <!-- begin sg-filters -->
            <div class="sg-filters swiper-container js-filters">
                <div class="swiper-wrapper js-filters-track">
                    {% for f in filters %}
                    <a class="sg-filters__item swiper-slide{%if f.active%} is-active{%endif%}" href="#">{{ f.text }}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- end sg-filters -->
        </div>
    </div>

    <div class="sg-tabslider__references">

        <!-- begin sg-references -->
        <div class="sg-references swiper-container js-references">
            <div class="swiper-wrapper">
                {% for r in references %}
                <div class="sg-references__slide swiper-slide">
                    <div class="sg-l">
                        <!-- begin sg-clientslist -->
                        <div class="sg-clientslist">
                            {% for c in r.clients %}
                            <div class="sg-clientslist__item">
                                <img src="{{ c.logo_color }}" alt="">
                                <img src="{{ c.logo_mono }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <!-- end sg-clientslist -->

                        <!-- begin sg-quote -->
                        <div class="sg-quote">
                            <div class="sg-quote__meta">
                                <div class="sg-quote__pic">
                                    <img src="{{ r.img }}" alt="">
                                </div>
                                <div class="sg-quote__name">{{ r.name | safe }}</div>
                                <div class="sg-quote__position">{{ r.position | safe }}</div>
                            </div>

                            <div class="sg-quote__info">
                                {{ r.text | safe }}
                            </div>
                        </div>
                        <!-- end sg-quote -->
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="sg-references__prev swiper-button-prev">{{ mixins.icon('arrow-prev') }}</div>
            <div class="sg-references__next swiper-button-next">{{ mixins.icon('arrow-next') }}</div>
            <div class="sg-references__pagination swiper-pagination"></div>
        </div>
        <!-- end sg-references -->

    </div>
</div>
