/* dosis-200 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: url('dosis-v7-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'),
       url('dosis-v7-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-200.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-200.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-300 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: url('dosis-v7-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Dosis Light'), local('Dosis-Light'),
       url('dosis-v7-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-300.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-300.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('dosis-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Dosis Regular'), local('Dosis-Regular'),
       url('dosis-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('dosis-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Dosis Medium'), local('Dosis-Medium'),
       url('dosis-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-500.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-500.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url('dosis-v7-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'),
       url('dosis-v7-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-600.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-600.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('dosis-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Dosis Bold'), local('Dosis-Bold'),
       url('dosis-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('dosis-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('dosis-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('dosis-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('dosis-v7-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}