
/* BOF CookieBot - Cookie Consent Banner */
/* move it to a separate cookiebot.scss for better maintainability */
#CybotCookiebotDialog {
    padding-top: 15px !important;
    box-shadow: rgba(18, 18, 18, 0.18) 2px 2px 15px 2px !important;
    font-family: 'Source Sans Pro' !important
}
#CybotCookiebotDialog #CybotCookiebotDialogBody,#CybotCookiebotDialogDetailBody {
    max-width: 860px !important
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyContentTitle {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #263f4a !important;
    margin: 2px 0 12px
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyContentText {
    line-height: 1.4 !important;
    font-size: 13px;
    color: #707070 !important
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyButtonAccept {
    font-family: 'Source Sans Pro' !important;
    padding: 8px 5px 10px !important;
    border-radius: 4px !important;
    font-weight: 500 !important
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyButtonAccept {
    font-weight: 600 !important;
    border: none;
    background-color: #a8c02d
}
#CybotCookiebotDialog #CybotCookiebotDialogBodyButtonAccept:hover {
    background-color: #8fa714
}
.CybotCookiebotDialogBodyButton {
    font-size: 11pt !important
}
#CybotCookiebotDialog a, #CybotCookiebotDialog div,#CybotCookiebotDialogBodyContentTitle {
    font-family: 'Source Sans Pro' !important
}
#CybotCookiebotDialogBodyButtons .CybotCookiebotDialogBodyLink,#CybotCookiebotDialogBodyLevelDetailsButton {
    font-size: 10pt !important;
    margin-top: 12px !important
}
#CybotCookiebotDialogDetailBodyContent {
    border-bottom: none !important
}
.CybotCookiebotDialogDetailBodyContentCookieTypeTable thead td {
    border-bottom: none !important
}
.CybotCookiebotDialogDetailBodyContentCookieTypeTable tbody td {
    border-bottom: 1px solid #f5f5f5 !important
}
.CybotCookiebotDialogDetailBodyContentCookieTypeTable {
    border: 1px solid #f5f5f5 !important
}
#CybotCookiebotDialogDetailBody {
    margin-top: 10px !important
}
#CybotCookiebotDialogDetailBodyContentCookieContainerTypeDetails {
    font-size: 10px !important;
    color: #707070 !important
}
.CybotCookiebotDialogDetailBodyContentCookieTypeTable {
    margin: 12px 0 0 !important
}
#CybotCookiebotDialogBodyButtonDetails {
    font-family: 'Source Sans Pro' !important
}
/* EOF CookieBot - Cookie Consent Banner */


/* Admin Bar */
#wpadminbar {
    border-bottom: 1px solid #585858;
}

@media screen and (max-width: 782px) {
    .admin-bar .sg-header {
        top: 46px;
    }
}

.admin-bar .sg-header {
    top: 32px;
}

.admin-bar .sg-prod-sections__nav {
    top: 84px;
}

@media only screen and (min-width: 1024px) {
    .admin-bar .sg-prod-sections__nav {
        top:96px
    }
}

/* BOF Wordpress Admin Bar */
/* we use it often, it should not overlap the top navigation */
#wpadminbar {
    border-bottom: 1px solid #585858;
}
@media screen and (max-width: 782px) {
    .admin-bar .sg-header {
        top: 46px;
    }
}
.admin-bar .sg-header {
    top: 32px;
}
/* EOF Wordpress Admin Bar */


/* BOF Blog Layout Stylefix */
.page__blog {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #263f4a;
}

.page__blog .blogpost-entry + .blogpost-entry {
    border-top: 1px solid #eee;
}
.page__blog h2 {
    margin-bottom: .5rem;
    font-size: 32px;
    font-family: 'Dosis',Helvetica,Arial,sans-serif;
    line-height: 1.33;
    font-weight: 400;
}
@media only screen and (min-width: 1024px) {
    .page__blog h2 {
        font-size: 36px;
    }
}
.page__blog h2 a,
.page__blog .blogpost-entry p {
    color: #263f4a;
}
.page__blog time {
    color: #8c9196;
}
.page__blog .sg-newsbox {
    max-width: 525px;
    display: block;
    margin: 0 auto;
}
.page__blog .sg-newsbox__img {
    box-shadow: 0 0 64px rgba(0,75,125,.2);
}
.page__blog .sg-newsbox__img:before {
    background: transparent;
}
/* EOF Blog Layout Stylefix */

/* BOF Hide Zopim Chat on Mobile */
@media only screen and (max-width: 1023px) {
    .zopim {
            display: none!important;
    }
}
/* EOF Hide Zopim Chat on Mobile */
