{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
<!--     <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" media="all" href="css/default.css"> -->
    <link rel="stylesheet" media="all" href="css/fonts.css">
    <link rel="stylesheet" media="all" href="css/layout.css">
    <link rel="stylesheet" media="all" href="css/hubform.css">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>

    <!-- BEGIN content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- END content -->

    <!-- BEGIN scripts -->
    <script type="text/javascript" src="http://softgarden.interstruct-dev.com/wp-content/themes/FoundationPress/assets/javascript/vendor/jquery.min.js?ver=4.9.7"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script type="text/javascript">

        hbspt.forms.create({
            css: '',
            target: '.hbspt-forms-target-8417c715-ac68-4f7e-a992-b56e958f5574',
            groupErrors: true,
            cssClass: 'sg-signup-form',
            portalId: '436029',
            formId: '8417c715-ac68-4f7e-a992-b56e958f5574',
            onFormReady: function(form) {
              manipulateForm(form);
            },
            onFormSubmit: function() {
              //window.dataLayer.push({event: 'hbspt_form_submit'});
            }
          });

          function manipulateForm(form) {
            const fields = $(form).find('.hs-input').filter('[id]').closest('.hs-form-field');

            const fieldObserver = new MutationObserver(function(mutations) {
              mutations.forEach(function(mutation) {
                if (mutation.addedNodes.length !== 0) {
                  $(mutation.target).addClass('is-error');
                }
                if (mutation.addedNodes.length === 0) {
                  $(mutation.target).removeClass('is-error');
                }
              });
            });

            fields.each(function(index, field) {
              fieldObserver.observe(field, {
                childList: true
              });
            });

            const inputs = $(form).find('.hs-input').filter('[id]');

            inputs.each(function(index, input) {
              $(input).on('blur', function(e) {
                if ($(e.target).val() !== '') {
                  console.log($(e.target).val());
                  $(e.target).closest('.hs-form-field').addClass('is-completed');
                }
                else {
                  console.log('no value');
                  $(e.target).closest('.hs-form-field').removeClass('is-completed');
                }
              });
            });
          }
    </script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END scripts -->

  </body>
</html>
