.sg-button
    appearance: none
    height: 44px
    line-height: 44px
    text-decoration: none
    text-align: center
    display: block
    background: transparent
    border: 1px solid transparent
    // +ss-pro-sb
    +ss-pro
    font-weight: 600
    font-size: 18px
    +desktop-xs
        height: 36px
        line-height: 35px
        font-size: 16px
    &:hover, &:active, &:focus, &:visited
        color: #fff
    &_primary
        border: 1px solid $green-olive
        background: $green-olive
        border-radius: 4px
        color: #fff
        +desktop-hover
            transition: all .25s ease-in-out
            &:hover
                background: $green-dim
                border-color: $green-dim
    &_secondary
        border: 1px solid $green-olive
        border-radius: 4px
        color: #fff

    &_link
        background-color: $blue-picton
        border: 1px solid $blue-picton
        border-radius: 4px
        font-size: 20px
        color: $white
        height: 56px
        line-height: 54px
        transition: background-color .25s ease-in-out, border .25s ease-in-out
        &:hover, &:active, &:focus, &:visited
            background-color: darken($blue-picton, 10)
        +md
            height: 40px
            line-height: 38px
        +sm
            height: 47px
            line-height: 45px
