.sg-filters
    // max-width: 120px
    overflow: visible
    // margin: 0
    $this: &

    .swiper-wrapper
        width: auto
        padding-bottom: 10px
        +rmin(720)
            justify-content: center
        +tablet-landscape
            padding-bottom: 0
    &__wrapper
        text-align: center
        width: 100%
        margin: 0 auto

    &__item
        width: auto
        padding: 16px
        text-decoration: none
        color: #aaafb4
        font-size: 16px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        position: relative
        +rmin(720)
            font-size: 14px
            padding: 17px 14px
        +tablet-landscape
            font-size: 16px
            padding: 26px 16px
        +desktop-xs
            transition: color .25s ease-in-out
            &:hover
                color: #aabe28
        +desktop-sm
            font-size: 16px
            padding: 26px 16px
        &:hover
            color: #aaafb4
        &:first-child
            margin-left: 11px
            +rmin(720)
                margin-left: 0
        &.is-active
            color: #aabe28
            &:before
                content: ""
                display: block
                z-index: 2
                position: absolute
                top: 100%
                left: 50%
                transform: translate(-50%, 0) rotate(45deg)
                margin-top: 2px
                background: #fff
                width: 16px
                height: 16px
            +tablet-landscape
                &:before
                    margin-top: -9px

    &_mod

        .swiper-wrapper
            padding-bottom: 0

        &.sg-mobtabs
            display: block
            padding-top: 0

        #{$this}__item
            padding: 15px 17px
            +sm
                padding: 15px 12px

            span
                color: $grey-simple

            &:after
                +pseudo
                background-color: $grey-darken
                bottom: 0
                content: none
                top: auto
                height: 2px
                width: 100%

            &:first-child
                +xs
                    margin-left: 0

            &.is-active
                span
                    color: currentColor

                &:before
                    content: none
                &:after
                    background-color: currentColor
                    content: ''
