.sg-hero
    position: relative
    text-align: center
    max-width: 100%
    // height: 100vh
    font-size: 0
    overflow: hidden
    // +rmin(1025)
    //     min-height: 630px
    +rmin(1260)
        height: 150vh
    // +tablet-1260
    //     height: auto

    //     display: flex
        // align-items: center
    &.is-vertical-centered
        .sg-hero__in
            +rmin(1260)
                min-height: auto
        .sg-hero__section
            opacity: 1!important
    &__bg
        overflow: hidden
        z-index: -111
        height: 100vh
        position: fixed
        width: 100%
        left: 0
        top: 0

        background: #1b2a30


        &:before
            content: ""
            +coverdiv
            background: rgba(#1a2930, .8)
            z-index: 5
        // +r(1024)
        //     position: fixed
        //     top: 0
        //     left: 0
        //     width: 100%
        //     height: 100vh
    &__in
        width: 100%
        height: 100%
        min-height: 100vh
        z-index: 5
        padding-top: 52px
        display: flex
        justify-content: space-between
        align-items: center
        +rmin(1260)
            position: absolute
            top: 0
            left: 0
            padding-top: 0
            display: block
            height: 50%
        // +tablet-1260
        //     position: relative
        //     height: 100%
        //     min-height: 100vh

            // z-index: 2
            // padding: 16vh 0
    &__section
        position: relative
        z-index: 2
        transition: opacity 0.4s
        margin: 48px 0
        width: 100%
        +tablet-portrait
            margin: 32px 0
        +rmin(1260)
            margin: 0
            height: 100%
            display: flex
            justify-content: center
            align-items: center
        // +r(1024)
        //     display: block
        //     width: 100%
        //     height: auto
        // +tablet-1260
            // flex-wrap: wrap
            // min-height: 100vh
            // padding-top: 64px
            // padding-bottom: 50px
        // &.is-vertical-centered
        //     opacity: 1!important
        //     // height: 75vh
        //     .sg-hero__headline
        //         // top: 50%
        //         // margin-top: -48px
    &__mob-wrapper
        margin-bottom: 28px
        +rmin(1260)
            margin-bottom: 0
        // +tablet-1260
            // position: relative
            // width: 100%
            // height: 100%
            // flex-basis: 100%
            // display: flex
            // flex-wrap: wrap
            .sg-hero__headline
                order: 1
                flex-basis: 100%
            .sg-hero__trinity_mob
                order: 0
                flex-basis: 100%
        // +sm-mob
        //     margin-bottom: 50px
    &__mob-links-wrapper
        // +tablet-1260
        //     flex-basis: 100%

    &__trinity
        z-index: 4
        position: fixed
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 100%
        display: none
        +rmin(1260)
            display: block
        &.is-below-centered
            position: absolute
            top: calc(38vh + 64px + 50vh - 213px)
            transform: none
            +rmin(1441)
                top: calc(38vh + 64px + 50vh - 288px)

        &_mob
            // display: none
            display: block
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            // position: relative
            // transform: none
            +rmin(1260)
                display: none
            // +tablet-1260
                // display: block
                // // position: absolute
                // position: static
            .sg-trinity
                &__lines
                    path
                        opacity: 1
                        +rmin(1260)
                            opacity: 0.5
                &__circles, &__icons
                    // +tablet-1260
                    //     display: none
                // &__circles
                //     circle
                //         opacity: 1
                // &__icons
                //     path
                //         opacity: 1
    &__graph
        +vcenter
    &__headline
        color: #fff
        // +vcenter
        width: 100%
        user-select: none
        position: relative
        z-index: 5
        +tablet-portrait
            min-height: 426px
            display: flex
            flex-direction: column
            justify-content: center
        +rmin(1260)
            min-height: auto
            // margin-top: 64px
            // top: 64%
            +vcenter
        +rmin(1441)
            // min-height: 576px

        // +tablet-1260
        //     z-index: 5
        // +sm-mob
        //     position: static
        //     transform: none

            // position: static

            // transform: none
            // margin-bottom: 10vh

    &__title
        line-height: 1.18
        letter-spacing: 0.5px
        // +dosis-sb
        +dosis
        font-weight: 600
        font-size: 28px
        margin: 86px 0 74px
        // +tablet-sm
        //     font-size: 51px
        //     margin: 0
            // margin-bottom: 36px
        // +sm-mob
        //     margin-bottom: 0
        //     position: absolute
        //     top: 120px
        //     left: 50%
        //     transform: translate(-50%, -50%)
        //     width: 100%
        +tablet-portrait
            font-size: 51px
            margin: 0 0 24px 0
        +rmin(1260)
            font-size: 56px
        +rmin(1441)
            font-size: 68px
        & > span
            display: block
            opacity: 1
            +rmin(1260)
                opacity: 0
    &__text
        line-height: 1.5
        opacity: 1
        font-size: 11px
        max-width: 400px
        margin: 0 auto
        +tablet-portrait
            font-size: 17px
            max-width: none
        +rmin(1260)
            font-size: 18px
            opacity: 0
        +rmin(1441)
            font-size: 22px
        p
            line-height: 1.5
            +md
                padding: 0 15px
                // max-width: 440px
                font-size: 16px
                margin-left: auto
                margin-right: auto
            // +sm-mob

            //     font-size: 16px
            br
                +sm
                    display: none
    // &__forward-wrapper
    //     width: 100%
    //     height: 100%
    //     border: 2px solid red
    //     overflow: hidden
    //     .sg-hero__forward_changing
    //         position: sticky
    //         top: 10%
    &__forward
        font-size: 36px
        color: #fff

        position: fixed
        z-index: 5
        bottom: -52px
        left: 50%
        transform: translateX(-50%)
        display: none
        +rmin(1260)
            display: block
        &_changing
            +rh(600)
                display: none
            left: 50%
            transform: none

            bottom: 0
            width: 100px
            margin-left: -50px
            transition: opacity 0.35s, transform 0.35s
            .sg-scroll-link
                padding-top: 18px
                // bottom: 60px
                // position: fixed
                &:hover
                    .sg-scroll-link__text
                        color: $green-olive
                &__text
                    position: absolute
                    top: 0
                    left: 50%
                    transform: translateX(-50%)
                    transition: opacity 0.3s, color 0.3s
                    margin-bottom: 0
                    &:before
                        display: none
                .second-text
                    opacity: 0
            &.change-view
                position: absolute
                opacity: 1!important
                // bottom: 0px
                .sg-scroll-link
                .first-text
                    opacity: 0
                .second-text
                    opacity: 1
            &.is-start-view
                opacity: 0
                transform: translateY(-30px)
        &_preudo
            visibility: hidden
            opacity: 0
            z-index: -11111
            position: absolute

    &__links
        width: 240px
        height: 240px
        +vcenter
        z-index: 50
        +tablet-portrait
            width: 426px
            height: 426px
        +rmin(1441)
            width: 576px
            height: 576px
        // +tablet-landscape
        //     width: 484px
        //     height: 484px
        // +rmin(1441)
        //     width: 576px
        //     height: 576px
        &_mob
            display: block
            position: static
            width: 100%
            height: auto
            transform: none
            +tablet-portrait
                display: flex
                justify-content: space-between
                width: 100%
                max-width: 700px
                margin: 0 auto
            +rmin(1260)
                display: none
            // +tablet-1260
                // display: flex
                // justify-content: space-around
                // padding: 0 15px
            // +sm-mob
            //     display: block
            .sg-herolinks__item
                position: static
                transform: none!important
                margin-bottom: 36px
                // +sm-mob
                //     margin-bottom: 40px
            .sg-herolinks__tablet-mob-icon
                // margin-bottom: 29px
                svg
                    width: 48px
                    height: 48px
                    +rmin(1260)
                        width: 96px
                        height: 96px
            .sg-cat
                opacity: 1!important

.sg-bg-video
    position: absolute
    // top: 50%
    // left: 50%
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    // transform: translate(-50%, -50%)
    video
        display: none
        // min-height: 100vh
        // min-width: 100%
        // width: 100%
        height: 100%
        // position: relative
        position: absolute
        object-fit: cover
        left: 50%
        transform: translateX(-50%)
        top: 0
        z-index: 1
        transition: opacity 1.2s
        opacity: 0
        +tablet-portrait
            display: block
            & ~ img
                +rmin(1025)
                    opacity: 0
            //     display: none!important
    &__img
        display: block
        width: 100%
        height: 100%
        min-height: 100vh
        min-width: 100%
        object-fit: cover
        object-position: 50% 0
        position: relative
        // position: fixed
        // left: 0
        // top: 0
        z-index: 0
        transition: opacity 1s
        // +desktop-sm
        //     opacity: 0
        +tablet-portrait
            display: none
        &_portrait
            display: none
            // +rport(719)
            @media only screen and (orientation: portrait)
                display: block
                // &.is-hidden
                //     display: none
        &_landscape
            display: none
            // +rland(719)
            @media only screen and (orientation: landscape)
                display: block
                // &.is-hidden
                //     display: none
        // &.is-visible
        //     opacity: 1
    &.change-view
        // .sg-bg-video__img
        //     +rmin(1260)
        //         opacity: 0
        video
            opacity: 1
.sg-trinity
    width: 240px
    height: 240px
    display: block
    margin: 0 auto
    // transform: rotate(-90deg)
    // +tablet-sm
    //     width: 484px
    //     height: 484px
    +tablet-portrait
        width: 426px
        height: 426px
    +rmin(1441)
        width: 576px
        height: 576px
    &__lines
        path
            opacity: 0
    &__circles
        circle
            opacity: 0
    &__icons
        path
            opacity: 0

.sg-herolinks
    .sg-cat
        text-align: center
        opacity: 1
        font-size: 16px
        letter-spacing: 1px
        +tablet-portrait
            letter-spacing: 1.5px
        +rmin(1025)
            opacity: 0
        +rmin(1260)
            font-size: 20px
            transform: translateY(-20px)
        +rmin(1441)
            font-size: 24px
        &__text
            color: #fff
            text-align: center
        &__line
            position: absolute
            bottom: -5px
            left: 0
            width: 100%
            height: 1px
            border-radius: 1px
            background: currentColor
            +tablet-portrait
                height: 2px
                bottom: -10px
            +rmin(1260)
                transform: translateY(20px)
            +rmin(1441)
                height: 3px
                bottom: -12px
        &__link
            &:before
                display: none
    &__item
        position: absolute
        min-width: 230px
        &:nth-child(1)
            top: 31%
            left: 50%
            transform: translateX(-50%)
            +tablet-portrait
                top: 27%
            +rmin(1441)
                top: 24%
        &:nth-child(2)
            bottom: 0
            right: -9.5%
            +tablet-portrait
                bottom: 3%
                right: -13.5%
            +rmin(1441)
                bottom: 5%
                right: -9.5%
            // +tablet-sm
            //     bottom: 3%
            //     right: -15%
            // +rmin(1441)
            //     bottom: 6%
            //     right: -9.5%
        &:nth-child(3)
            bottom: 0
            left: -12%
            +tablet-portrait
                bottom: 3%
                left: -13.5%
            +rmin(1441)
                bottom: 5%
                left: -11.5%
            // +tablet-sm
            //     bottom: 3%
            //     left: -15%
            // +rmin(1441)
            //     bottom: 6%
            //     left: -10.5%
    &__tablet-mob-icon
        display: block
        margin-bottom: 12px
        +rmin(1260)
            display: none
        // display: none
        // +tablet-1260
        //     display: block
.sg-scroll-link
    display: block
    text-decoration: none
    $this: &

    &__text
        color: #fff
        font-size: 11px
        line-height: 2
        position: relative
        display: block
        margin-bottom: 16px
        white-space: nowrap
        +tablet-portrait
            font-size: 14px
        +rmin(1441)
            font-size: 16px
        &:before
            content: ""
            display: block
            width: 100%
            height: 1px
            position: absolute
            bottom: -2px
            left: 0
            border-bottom: 1px dashed $green-olive
    .icon-arrow-scroll, .icon-arrow-scroll-down
        fill: $green-olive
        width: 12px
        height: 72px
        +rmin(1441)
            width: 96px
    .icon-arrow-scroll-down
        height: 12px

    &_olive
        #{$this}__text
            color: $green-olive
            transition: color ease 0.3s
            &:before
                transition: border-color ease 0.3s

        &:hover
            #{$this}__text
                color: $white
                &:before
                    border-bottom-color: currentColor


