.sg-mobtabs
    background: #fff
    border-bottom: 1px solid $grey-lighten
    padding-top: 78px
    position: relative
    text-align: center
    +tablet-landscape
        display: none
    .swiper-wrapper
        width: auto
        display: inline-flex
    .swiper-slide
        width: auto
    &:before, &:after
        content: ""
        display: block
        width: 16px
        height: 100%
        z-index: 5
        position: absolute
        top: 0
    &:before
        left: 0
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    &:after
        right: 0
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
    +tablet-landscape
        &:before, &:after
            display: none

.sg-mobtab
    display: block
    text-decoration: none
    padding: 16px
    &__text
        font-size: 16px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
    &:not(.is-active)
        .sg-mobtab__text
            color: $grey-simple !important
