.sg-phonebox
    width: 44px
    display: flex
    align-items: center
    justify-content: center
    +desktop-xs
        width: 36px
        &:hover
            .icon
                fill: $green-acid
            .sg-phonebox__text
                color: $green-acid
    +desktop-sm
        width: auto
        padding: 0 11px
    &__text
        display: none
        color: #fff
        margin-left: 7px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        font-size: 14px
        transition: color .25s ease-in-out
        +desktop-sm
            display: block
    &__icon
        display: inline-block
        .icon
            display: block
            width: 23px
            height: 24px
            fill: #fff
            +desktop-xs
                width: 15px
                height: 16px
                transition: fill .25s ease-in-out
