.sq-price-functions
    background-color: #ffffff

    &__headline
        padding: 60px 0 52px
        text-align: center
        +md
            padding: 66px 0 30px
        +sm
            padding-bottom: 36px
        +sm-mob
            padding-top: 68px
            padding-bottom: 30px

        .sg-title
            +md
                font-size: 30px

    &__filters
        position: relative

        &:before
            +pseudo
            bottom: 0
            background-color: $grey-lighten
            height: 1px
            top: auto
            width: 100%

        .sg-l
            +sm
                padding: 0

    &__functions
        background-color: $grey-light-bg
        padding-top: 71px
        +sm
            padding-top: 62px
        +xs
            padding-top: 39px

.sq-functions
    width: 100%
    $this: &

    &__wrapp
        margin: 0 auto

    &__item
        margin-bottom: 68px
        opacity: 0
        visibility: hidden
        width: 30%
        +md
            width: 47%
        +sm-mob
            width: 100%

    &__gutter
        width: 5%
        +md
            width: 6%
        +sm-mob
            width: 0

    .is-showing-items

        #{$this}__item
            opacity: 1
            visibility: visible

.sq-function-item
    +sm-mob
        margin: auto
        width: 75%
    +xs
        width: 100%

    &__headline
        align-items: center
        display: flex
        margin-bottom: 22px

    &__title
        color: currentColor
        font-size: 16px
        line-height: 1.25em
        letter-spacing: 0.05em
        margin-top: 4px
        text-transform: uppercase
        // +dosis-b
        +dosis
        font-weight: 700

    &__icon
        align-items: center
        background-color: currentColor
        border-radius: 5px
        display: flex
        height: 32px
        margin-right: 16px
        width: 32px
        min-width: 32px
        justify-content: center

        img
            display: block
            height: 26px
            width: auto

.sq-function-list
    +xs
        max-width: 280px

    &__item
        cursor: help
        padding-left: 48px
        position: relative
        font-size: 18px
        line-height: 1.37em
        width: 100%
        +xs
            font-size: 15px

        &:not(:last-of-type)
            margin-bottom: 24px

    &__icon
        position: absolute
        top: 0
        height: 21px
        left: 8px
        width: 21px

        img
            width: 100%

    &__title
        position: relative

    &__text
        padding-bottom: 2px
        border-bottom: 1px solid transparent
        transition: border ease 0.2s

        &:hover, &:focus, &:active
            border-bottom-color: currentColor
            +sm
                border-bottom: transparent

        span
            color: $grey-darken

    &__tooltip
        display: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        z-index: 10
