.sg-price-table
    background-image: url('./../img/prices-hero.jpg')
    background-repeat: no-repeat
    background-size: auto 100%
    background-position: top center
    padding: 59px 0
    +md
        padding: 65px 0 56px
    +sm
        background-size: 600% auto
        padding: 45px 0 40px

    &__headline,
    &__meta
        color: $white
        text-align: center

    &__title
        text-align: center
        margin-bottom: 15px
        +md
            font-size: 30px
            margin-bottom: 8px
        +sm
            margin-bottom: 24px

    &__textual
        font-size: 18px
        +md
            font-size: 16px

    &__meta
        font-size: 14px

    &__boxes-wrapp
        display: flex
        padding: 71px 0 62px
        +md
            padding: 62px 0
        +sm
            flex-direction: column
            align-items: center
            padding: 22px 0 49px

    &__box
        // display: flex
        // flex-direction: column
        // justify-content: flex-start
        +sm
            border-radius: 5px

        &:not(:first-of-type)
            margin-left: 4px
            +sm
                margin-left: 0
                margin-top: 8px

        &:first-of-type
            +rmin(768)
                border-radius: 5px 0 0 5px

        &:last-of-type
            +rmin(768)
                border-radius: 0 5px 5px 0

    .sg-scroll-link
        display: inline-block
        margin-left: 5px

        &__text
            font-size: 18px
            &:before
                bottom: 5px
            +sm
                font-size: 16px

.sg-table-box
    background-color: rgba($blue-foam, 0.9)
    min-height: 100%
    flex: 1
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    width: 100%
    $this: &
    +sm
        max-width: 272px

    &__in
        min-height: 100%
        display: flex
        flex-direction: column
        padding: 40px 32px 30px
        position: relative
        justify-content: space-between
        width: 100%
        +md
            padding: 30px 17px 25px
        +sm
            padding: 40px 32px 34px

    &__headline
        color: $pink
        font-size: 15px
        // bold
        // +ss-pro-sb
        +ss-pro
        font-weight: 700
        line-height: 1em
        position: absolute
        text-transform: uppercase
        top: 0
        left: 0
        width: 100%
        +md
            font-size: 12px
        +sm
            font-size: 15px
            top: 21px

    &_size-lg
        position: relative

        &:before
            +pseudo
            box-shadow: 0 0 32px rgba(#004b7d, 0.25)
            top: 24px
            height: calc(100% - 36px)
            left: -4px
            width: calc(100% + 8px)
            +md
                height: calc(100% - 27px)
                top: 18px
            +sm
                content: none

        &:after
            +pseudo
            background-color: $white
            border-radius: 5px
            top: -24px
            left: -4px
            height: calc(100% + 36px)
            width: calc(100% + 9px)
            z-index: 0
            +md
                height: calc(100% + 27px)
                top: -18px
            +sm
                height: 100%
                top: 0
                left: -9px
                width: calc(100% + 18px)

        #{$this}__in
            background-color: transparent
            position: relative
            z-index: 1
            +sm
                padding-top: 61px

        #{$this}__package
            background-color: $grey-light-bg

    &__head
        padding-bottom: 26px
        position: relative
        margin-bottom: 23px
        +md
            padding-bottom: 21px
            margin-bottom: 18px
        +sm
            padding-bottom: 26px
            margin-bottom: 24px

        &:before
            +pseudo
            background-color: $blue-bayoux
            bottom: 0
            height: 2px
            top: auto
            width: 100%

    &__package
        background-color: $white
        border-radius: 4px
        color: $pink
        height: 55px
        display: inline-block
        font-size: 34px
        margin-bottom: 23px
        padding: 4px 18px
        min-width: 57px
        white-space: nowrap
        // +dosis-b
        +dosis
        font-weight: 700
        +md
            font-size: 24px
            height: 42px
            padding: 4px 10px
            margin-bottom: 16px
            min-width: 42px
        +sm
            height: 55px
            font-size: 33px
            padding: 4px 19px
            margin-bottom: 24px
            min-width: 55px

        &_font-sm
            font-size: 30px
            padding: 4px 12px
            +md
                font-size: 20px
            +sm
                font-size: 29px

    &__title
        font-size: 25px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        margin-bottom: 1px
        +md
            font-size: 18px
        +sm
            font-size: 25px

    &__subtitle
        font-size: 18px
        +md
            font-size: 14px
        +sm
            font-size: 17px

    &__textual
        margin-bottom: 28px
        +md
            font-size: 12px
            margin-bottom: 19px
        +sm
            font-size: 16px
            margin-bottom: 29px
        p
            &:not(:last-of-type)
                margin-bottom: 12px

            &.primary
                color: $pink
                // +ss-pro-sb
                +ss-pro
                font-weight: 600

            &.dark
                color: $grey-darken
                font-size: 20px
                // +ss-pro-sb
                +ss-pro
                font-weight: 600
                +md
                    font-size: 15px
                +sm
                    font-size: 20px

    &__cost
        font-size: 13px
        margin-bottom: 35px
        +md
            font-size: 11px
            margin-bottom: 26px
        +sm
            margin-bottom: 37px

    &__price
        color: $grey-darken
        font-size: 51px
        // medium
        // +ss-pro-r
        +ss-pro
        font-weight: 500
        display: block
        line-height: 1.2em
        white-space: nowrap
        // +dosis-m
        +dosis
        font-weight: 500
        +md
            font-size: 37px
        +sm
            font-size: 51px

    &__footer
        #{$this}__textual
            margin-bottom: 32px
            +md
                margin-bottom: 26px
            +sm
                margin-bottom: 33px

    &__tooltip

        &-item
            display: block
            font-size: 16px
            // +ss-pro-sb
            +ss-pro
            font-weight: 600
            position: relative
            +md
                font-size: 10px
            +sm
                font-size: 14px

        &-link
            cursor: help
            color: $blue-picton
            line-height: 1.7em
            text-decoration: none
            +sm
                cursor: default

        &-icon
            background-color: $blue-picton
            border-radius: 50%
            color: $white
            font-size: 16px
            display: inline-block
            height: 18px
            position: relative
            top: 50%
            margin-top: -9px
            left: 1px
            line-height: 18px
            width: 18px
            +md
                font-size: 12px
                height: 14px
                line-height: 14px
                width: 14px
            +sm
                display: none
                // font-size: 14px
                // height: 18px
                // line-height: 18px
                // width: 18px

    &__tooltip
        display: none
        position: absolute
        top: 0
        left: 0
        z-index: 10
        text-align: left

