.sg-prod-sections
    max-width: 100%
    overflow: hidden
    padding-top: 128px
    +r(1024)
        z-index: 50
        padding-top: 32px
    &__nav
        position: fixed
        top: 52px
        left: 0
        width: 100%
        z-index: -1
        opacity: 0
        +desktop-xs
            top: 64px
        &.is-active
            z-index: 150
            opacity: 1
    // add distance between img on slide swiper
    .sg-l
        +r(960)
            padding-left: 0
            padding-right: 0
        .sg-prod
            +r(960)
                padding-left: 24px
                padding-right: 24px
                box-sizing: border-box
            +r(568)
                padding-left: 16px
                padding-right: 16px

.sg-prod-section
    padding: 32px 0 0 0
    border-bottom: 2px solid $grey-lighten

.sg-headline
    text-align: center
    padding: 16px 0 8px
    $this: &

    &__graph
        margin-bottom: 10px
        +tablet-landscape
            margin-bottom: 2px
        .trinity
            width: 48px
            height: 48px
            cursor: pointer
            +tablet-landscape
                width: 64px
                height: 64px
    &__title
        // +dosis-sb
        +dosis
        font-weight: 600
        font-size: 30px
        line-height: 1.2
        letter-spacing: 0.5px
        margin-bottom: 17px
        +tablet-landscape
            font-size: 44px
            line-height: 1.44
    &__subtitle
        font-size: 18px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
        +tablet-landscape
            font-size: 24px

    &_sm
        padding: 58px 0 72px
        +md
            padding: 63px 0 65px
        +sm
            padding: 68px 0 67px

        #{$this}__title
            font-size: 36px
            +md
                font-size: 30px
                margin-bottom: 13px
            +sm
                margin-bottom: 16px

        #{$this}__subtitle
            font-size: 18px
            // +ss-pro-r
            +ss-pro
            font-weight: 400
            +md
                font-size: 16px


.sg-prod-list
    $this: &

    &__in
        padding-bottom: 32px
        +tablet-landscape
            display: block
            position: static
            margin: 0
            overflow: visible
        .swiper-wrapper
            +tablet-landscape
                display: block
                height: auto
                position: static
                box-sizing: border-box
                transform: none
        .swiper-slide
            +tablet-landscape
                position: static
        .swiper-pagination
            bottom: 20px
            // +rmin(720)
            //     display: none
        .swiper-pagination-bullet
            width: 12px
            height: 12px
            border: 2px solid $grey-simple
            background: transparent
            &-active
                border-color: $grey-simple
                background: $grey-simple
        & > .swiper-pagination-bullets
            .swiper-pagination-bullet
                margin: 0 6px
    &_row

        #{$this}__in
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            padding-bottom: 0
            +md
                justify-content: flex-start
            +r(768)
                align-items: center
                flex-direction: column
                width: 100%

.sg-prod
    padding: 32px 0
    display: flex
    align-items: center
    // position: sticky
    +tablet-landscape
        // height: 1090px
        // height: 928px
        // min-height: 100vh
        margin: 50px 0
    $this: &

    &__in
        display: flex
        align-items: center
        width: 100%
        flex-wrap: wrap
        +tablet-landscape
            flex-wrap: nowrap
    &__info
        margin-bottom: 32px
        +tablet-landscape
            margin-bottom: 0
            min-width: 50%
            flex-grow: 1
            display: flex
            align-items: center
    &__img
        +tablet-landscape
            margin-left: 10px
            position: relative
        +desktop-sm
            margin-left: 32px
        +desktop-lg
            margin-left: 24px
        img
            width: 100%
            // height: 100%
            // object-fit: cover
            display: block
    &_inverse
        .sg-prod__img
            margin-left: 0
            +desktop-sm
                margin-left: 0
            +desktop-lg
                margin-left: 0
        .sg-prod__info
            margin-left: 20px
            +desktop-sm
                margin-left: 64px
            +desktop-lg
                margin-left: 48px

    &_column
        align-items: flex-start
        justify-content: flex-start
        padding: 0 40px
        position: relative
        margin: 0 0 114px
        width: calc(50% - 15px)
        +md
            padding: 0 15px
            margin: 0 0 74px
        +r(768)
            margin-bottom: 44px
            max-width: 454px
            width: 100%
        +xs
            padding: 0
            margin-bottom: 36px
            max-width: 320px

        &:before
            +pseudo
            background-color: $grey-lighten
            bottom: 0
            content: none
            height: 1px
            top: auto
            left: 50%
            transform: translateX(-50%)
            width: 100vw
            +r(768)
                content: ''

        &:nth-child(2n)
            +md
                margin-left: 20px
            +r(768)
                margin-left: 0

        &:last-of-type
            margin-bottom: 0

            & ~ #{$this}
                margin-bottom: 0

        #{$this}__in
            display: block
            // align-items: flex-start
            // flex-direction: column
            // flex-wrap: nowrap
            // justify-content: flex-start

        #{$this}__img
            margin-left: 0
            height: auto
            order: 1
            width: 100%

        #{$this}__info
            order: 2
            margin-top: 40px
            +md
                margin-top: 43px
                margin-bottom: 0
            +sm
                margin-top: 36px
            +xs
                margin-top: 29px

.sg-prod-info
    text-align: center
    +tablet-landscape
        max-width: 490px
        text-align: left
    +rmin(1366)
        max-width: 540px
    $this: &

    &__icon
        margin: 0 auto 22px
        +tablet-landscape
            margin: 0 0 20px 0
        +rmin(1366)
            margin: 0 0 32px 0
    &__title
        // +dosis-b
        +dosis
        font-weight: 700
        font-size: 22px
        text-transform: uppercase
        line-height: 1.33
        letter-spacing: 1px
        margin-bottom: 22px
        text-align: center
        +tablet-landscape
            text-align: left
            margin-bottom: 44px
        +desktop-sm
            font-size: 24px
            margin-bottom: 26px
        +rmin(1366)
            text-align: left
            margin-bottom: 38px
            font-size: 30px
            letter-spacing: 1.5px

    &__text
        font-size: 16px
        text-align: center
        color: $grey-normal
        line-height: 1.375
        margin-bottom: 16px
        +tablet-landscape
            text-align: left
            font-size: 20px
            line-height: 1.5
            margin-bottom: 32px
        +desktop-sm
            font-size: 18px
        +rmin(1366)
            font-size: 24px
    &__link
        display: inline-block
        font-size: 16px
        +tablet-landscape
            font-size: 20px
        +desktop-sm
            font-size: 18px
        +rmin(1366)
            font-size: 24px
        +desktop-hover
            & > span
                transition: color .25s ease-in-out
            &:hover
                & > span
                    color: currentColor !important

    &__headline
        align-items: center
        display: flex
        margin-bottom: 30px
        +md
            margin-bottom: 23px

        #{$this}__icon
            display: block
            height: 76px
            margin-bottom: 0
            margin-right: 20px
            min-width: 76px
            width: 76px
            +md
                height: 60px
                margin: 0 20px 0 0
                min-width: 60px
                width: 60px
            +xs
                height: 50px
                min-width: 50px
                width: 50px

            &:after,
            &:before
                height: 60px
                width: 60px
                +md
                    height: 48px
                    width: 48px
                +xs
                    height: 40px
                    width: 40px

            img
                height: 50px
                top: 5px
                right: 5px
                width: 50px
                +md
                    height: 35px
                    top: 6px
                    right: 6px
                    width: 35px
                +xs
                    height: 29px
                    top: 5px
                    right: 5px
                    width: 29px

    &_sm
        text-align: left
        max-width: 570px

        #{$this}__title
            font-size: 25px
            margin-bottom: 0
            text-align: left
            +md
                font-size: 20px
            +xs
                font-size: 18px

        #{$this}__text
            font-size: 18px
            margin-bottom: 29px
            text-align: left
            max-width: 100%
            +md
                font-size: 16px
                margin-bottom: 20px
            +sm
                line-height: 1.5em

        #{$this}__link
            font-size: 18px
            +md
                font-size: 16px
            +r(768)
                margin-bottom: 50px


.sg-prod-img
    width: 100%
    height: auto
    +tablet-landscape
        width: 550px
        height: 450px
        max-width: 880px
        // perspective: 1000px
    +rmin(1158)
        // width: 100%
        width: calc(50vw - 72px)
        height: auto
        transition: opacity 0.5s, transform 0.5s
        opacity: 0
        transform: translateY(100px)
    +desktop-md
        width: calc(50vw - 72px)
    img
        opacity: 1
        +tablet-landscape
            // opacity: 0
            // transform: translateX(20px) rotateY(-8deg)
            transform: translateX(20px)
            transition: opacity .35s ease-in-out, transform 0s ease-in-out .35s
    &.is-active
        img
            opacity: 1
            transition: opacity .35s ease-in-out .5s, transform .35s ease-in-out .5s
            // transform: translateX(0) rotateY(-8deg)
            transform: translateX(0)
    &.is-fake
        position: absolute
        top: 0
        left: 0
        visibility: hidden
        opacity: 0
    &.is-fade-in
        transform: translateY(0px)
        opacity: 1
    &.is-prepare

    &_inverse
        img
            opacity: 0
            // transform: translateX(-20px) rotateY(8deg)
            transform: translateX(-20px)
            transition: opacity .35s ease-in-out, transform 0s ease-in-out .35s
        &.is-active
            img
                opacity: 1
                transition: opacity .35s ease-in-out .5s, transform .35s ease-in-out .5s
                // transform: translateX(0) rotateY(8deg)
                transform: translateX(0)

    &_plain
        // border: 1px solid rgba(#000046, 0.07)
        box-shadow: 0 0 64px rgba(0, 75, 125, 0.2)
        height: auto
        opacity: 1
        transform: translateY(0)
        width: 100%
        +tablet-landscape
            height: auto
        +rmin(1158)
            width: 100%
        +desktop-md
            width: 100%
        // +tablet-landscape
        //     min-height: 310px
        // +sm
        //     min-height: 265px
        // +xs
        //     max-height: 184px

        img
            transform: translateY(0)
            width: 100%
