.sg-product-nav
    background: #fff
    border-bottom: 1px solid $grey-lighten
    padding-top: 6px
    opacity: 0
    pointer-events: none
    position: relative
    z-index: -1
    transition: opacity .25s ease-in-out
    height: 80px
    transform: translate3d(0,0,0)
    &.is-active
        pointer-events: auto
        opacity: 1
        z-index: 1
    &__in
        display: flex
        justify-content: flex-end
        position: relative
    &__dropdown
        position: absolute
        top: 0
        left: 0

.sg-dropdown
    position: relative
    overflow: hidden
    max-height: 74px
    &:before
        content: ""
        display: block
        +coverdiv
        background: #fff
        border-radius: 4px
        box-shadow: 0px 0px 64px 0px rgba(26, 41, 48, 0.1)
        z-index: 1
        pointer-events: none
        opacity: 0
        transform: scale(0.9)
        // transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out
    &__in
        position: relative
        z-index: 2
        padding: 12px 0 20px
        margin-top: -14px
        min-width: 352px
    &__list
        padding-left: 60px
        padding-top: 8px
        // transform: translateY(-100vh)
    &__item
        transform: translateY(-12px)
        opacity: 0
        &:nth-child(1)
            transition: opacity 0.3s ease-in-out .1s, transform 0.3s ease-in-out .1s
        &:nth-child(2)
            transition: opacity 0.3s ease-in-out .05s, transform 0.3s ease-in-out .05s
        &:nth-child(3)
            transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s
        .sg-cat
            padding: 16px 19px
            pointer-events: none
    &__trigger
        .sg-cat
            pointer-events: none
    &.is-open
        overflow: visible
        max-height: none
        &:before
            opacity: 1
            transform: scale(1)
            transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out
        .sg-dropdown__trigger
            .sg-cat
                color: $grey-lighten
                &__link
                    color: $grey-lighten !important
                +desktop-hover
                    &:hover
                    .sg-cat__link
                        &:before
                            transform: scaleX(0)
                    .trinity
                        path
                            fill: $grey-lighten
            .trinity
                path
                    fill: $grey-lighten
        // .sg-dropdown__list
        //     transform: translateY(0)
        //     transition: transform 0s ease-in-out .23s
        .sg-dropdown__item
            transform: translateY(0)
            opacity: 1
            &:nth-child(1)
                transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s
            &:nth-child(2)
                transition: opacity 0.3s ease-in-out .1s, transform 0.3s ease-in-out .1s
            &:nth-child(3)
                transition: opacity 0.3s ease-in-out .2s, transform 0.3s ease-in-out .2s
        .sg-cat
            pointer-events: auto

    // +desktop-hover
    //     &:hover
    //         &:before
    //             opacity: 1
    //             transform: scale(1)
    //         .sg-dropdown__trigger
    //             .sg-cat
    //                 color: $grey-lighten
    //                 &__link
    //                     color: $grey-lighten !important
    //         .sg-dropdown__item
    //             transform: translateY(0)
    //             opacity: 1
    //             &:nth-child(1)
    //                 transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s
    //             &:nth-child(2)
    //                 transition: opacity 0.3s ease-in-out .1s, transform 0.3s ease-in-out .1s
    //             &:nth-child(3)
    //                 transition: opacity 0.3s ease-in-out .2s, transform 0.3s ease-in-out .2s
    //         .sg-cat
    //             pointer-events: auto
.sg-trinity-btn
    position: relative
    padding: 16px 30px 8px 80px
    min-height: 48px
    background: none
    border-radius: 0
    border: none
    &__graph
        position: absolute
        top: 16px
        left: 20px
        width: 48px
        height: 48px
    .sg-cat
        pointer-events: none
    .icon-arrow-trinity
        width: 12px
        height: 8px
        display: inline-block
        vertical-align: middle
        margin-left: 20px
        fill: $grey-lighten
    .trinity
        path:not(.is-active)
            fill: $grey-lighten

.sg-cat
    display: inline-block
    vertical-align: middle
    text-transform: uppercase
    font-size: 16px
    text-decoration: none
    color: $grey-darken
    // +dosis-b
    +dosis
    font-weight: 700
    letter-spacing: 1.15px
    line-height: 1.25
    transition: color 0.25s ease-in-out
    &__text
        display: block
        text-align: left
    &__link
        position: relative
        transition: color 0.25s ease-in-out
        &:before
            content: ""
            position: absolute
            bottom: -8px
            left: 0
            width: 100%
            height: 2px
            border-radius: 1px
            background: currentColor
            transform: scaleX(0)
            transition: transform .35s ease-in-out
            transform-origin: 0 0
    &.is-active
        .sg-cat__link
            &:before
                transform: scaleX(1)
    +desktop-hover
        &:not(.is-active):hover
            .sg-cat__link
                &:before
                    transform: scaleX(1)

.sg-anchors
    // display: none
    position: absolute
    top: 0
    right: 0
    width: 50%
    display: flex
    justify-content: flex-end
    align-items: flex-end
    opacity: 0
    pointer-events: none
    transition: opacity .3s ease-in-out
    &.is-active
        opacity: 1
        pointer-events: auto
        // display: block

.sg-anchor
    text-decoration: none
    font-size: 16px
    // +ss-pro-sb
    +ss-pro
    font-weight: 600
    // display: inline-block
    // vertical-align: bottom
    // padding: 38px 16px 14px 16px
    padding: 0 16px 14px
    display: flex
    align-items: flex-end
    height: 74px
    text-align: center
    &__text
        color: $grey-simple
        transition: color .25s ease-in-out
    &.is-active
        .sg-anchor__text
            color: $grey-darken
    // +desktop-hover
    //     &:hover
    //         .sg-anchor__text
    //             color: $grey-darken

.trinity
    path
        transition: fill 0.25s ease-in-out
        &:not(.is-active)
            fill: $grey-lighten
