.sg-rect-icon
    width: 60px
    height: 60px
    display: block
    position: relative
    +tablet-landscape
        width: 74px
        height: 74px
    +rmin(1366)
        width: 100px
        height: 100px
    &:before
        content: ""
        display: block
        width: 48px
        height: 48px
        background: currentColor
        position: absolute
        z-index: 1
        right: 0
        top: 0
        border-radius: 6px
        +tablet-landscape
            width: 60px
            height: 60px
        +rmin(1366)
            width: 80px
            height: 80px
    &:after
        content: ""
        display: block
        width: 48px
        height: 48px
        border: 2px solid currentColor
        border-radius: 6px
        position: absolute
        bottom: 0
        left: 0
        +tablet-landscape
            width: 60px
            height: 60px
        +rmin(1366)
            width: 80px
            height: 80px
            border: 3px solid currentColor
    img
        position: absolute
        z-index: 2
        width: 36px
        height: 36px
        top: 6px
        right: 6px
        +tablet-landscape
            width: 48px
            height: 48px
        +rmin(1366)
            width: 64px
            height: 64px
            top: 8px
            right: 8px
