.sg-tabslider
    overflow: hidden
    &__filters
        position: relative
        // +rmin(720)
        //     padding: 0 48px
        // +tablet-landscape
        //     padding: 0 126px
        &:before, &:after
            content: ""
            display: block
            width: 16px
            height: 100%
            z-index: 5
            position: absolute
            top: 0
        &:before
            left: 0
            background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
        &:after
            right: 0
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
        +tablet-landscape
            &:before, &:after
                display: none
        .sg-l
            max-width: 1152px
            // +desktop-sm
            //     max-width: 1152px
    &__references
        background: #e6edf4
        padding: 36px 0 64px
        position: relative
        .sg-l
            max-width: 1216px
            // +desktop-sm
            //     max-width: 1216px


.sg-references
    max-width: 1440px
    margin: 0 auto
    padding-bottom: 64px
    &__slide
        box-sizing: border-box
        +rmin(720)
            padding: 0 24px
            box-sizing: border-box
    &__prev, &__next
        display: none
        background: none
        background-image: none !important
        width: 64px
        height: 64px
        +rmin(720)
            display: block
            margin-top: -50px
        +desktop-hover
            &:hover
                .icon
                    fill: $green-olive
        &.swiper-button-disabled
            opacity: 0.25
        .icon
            fill: $grey-simple
            +vcenter
            +rmin(720)
                font-size: 32px
            +desktop-sm
                transition: fill .25s ease-in-out
                font-size: 30px
    &__prev
        left: -8px
        +desktop-sm
            left: 0
    &__next
        right: -8px
        +desktop-sm
            right: 0

    .swiper-pagination
        bottom: 20px
        // +rmin(720)
        //     display: none
    .swiper-pagination-bullet
        width: 12px
        height: 12px
        border: 2px solid $grey-simple
        background: transparent
        &-active
            border-color: $grey-simple
            background: $grey-simple
    & > .swiper-pagination-bullets
        .swiper-pagination-bullet
            margin: 0 6px
.swiper-container
    -webkit-tap-highlight-color: transparent
.sg-clientslist
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-bottom: 4px
    +rmin(720)
        margin: 12px 0 50px
    +desktop-sm
        margin-bottom: 64px
    &__item
        width: 50%
        position: relative
        +rmin(720)
            width: 100/6 + %
        +desktop-hover
            &:hover
                img:last-child
                    opacity: 0
        img
            display: block
            width: 100%
            height: 100%
            object-fit: contain
            transition: opacity .25s ease-in-out
            &:last-child
                position: absolute
                top: 0
                left: 0
                z-index: 5

.sg-quote
    background: #fff
    border-radius: 4px
    padding: 48px 24px
    text-align: center
    +rmin(720)
        padding: 52px
        text-align: left
        display: flex
    +tablet-landscape
        padding: 50px 72px
    +desktop-sm
        padding: 52px 96px 68px
    &__meta
        max-width: 174px
        margin: 0 auto 32px
        letter-spacing: 0.1px
        +rmin(720)
            min-width: 174px
            margin: 5px 0 0 0
    &__pic
        width: 112px
        height: 112px
        margin: 0 auto
        margin-bottom: 15px
        +rmin(720)
            margin: 0 0 15px 0
        img
            display: block
            width: 100%
            height: 100%
            object-fit: contain
            border-radius: 4px
    &__name
        font-size: 16px
        // +ss-pro-sb
        +ss-pro
        font-weight: 600
    &__position
        font-size: 14px
        line-height: 1.44
    &__info
        font-size: 22px
        // +ss-pro-l
        +ss-pro
        font-weight: 300
        line-height: 1.48
        +rmin(720)
            flex-grow: 1
            padding-left: 35px
            line-height: 1.52
            font-size: 24px
        +tablet-landscape
            padding-left: 42px
        +desktop-sm
            font-size: 28px
            padding-left: 114px
            line-height: 1.44
        q
            quotes: "„" "“"
            +rmin(720)
                position: relative
                &:before
                    position: absolute
                    left: -0.4em


