.sq-tooltip
	background-color: rgba($white, 0.97)
	border: 1px solid rgba(0, 0, 70, 0.07)
	box-shadow: 0 0 64px rgba(0, 75, 125, 0.2)
	color: $grey-darken
	display: block
	padding: 36px 31px
	position: relative
	transition: transform ease 0.3s, opacity ease 0.3s
	width: 384px

	&__title
		display: block
		font-size: 22px
		// +ss-pro-sb
        +ss-pro
        font-weight: 600
		line-height: 1.3em
		margin-bottom: 33px

	&__text
		display: block
		font-size: 15px
		// +ss-pro-r
        +ss-pro

	&.is-active
		animation: show-tooltip 0.3s forwards


@keyframes show-tooltip
	0%
		opacity: 0
		transform: scale(0.7)
	100%
		opacity: 1
		transform: scale(1)
