.icon-arrow-next {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-arrow-prev {
  width: 0.55em;
  height: 1em;
  fill: initial;
}
.icon-arrow-scroll-down {
  width: 1.72em;
  height: 1em;
  fill: initial;
}
.icon-arrow-scroll {
  width: 0.13em;
  height: 1em;
  fill: initial;
}
.icon-arrow-trinity {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-xing {
  width: 1em;
  height: 1em;
  fill: initial;
}
